@import url("https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap");
@import url("http://db.onlinewebfonts.com/c/90880752cbefe9cb63ba3311774d1f27?family=Magistral");
@media (max-width: 1000px) {
  .container {
    max-width: 746px;
    padding-left: 10px;
    padding-right: 10px; }
  .row {
    margin-left: -10px;
    margin-right: -10px; }
  .col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    padding-left: 10px;
    padding-right: 10px; } }

@media (max-width: 799.98px) {
  .container {
    padding-left: 20px;
    padding-right: 20px; }
  .container-fluid {
    padding-left: 20px;
    padding-right: 20px; }
  .row {
    margin-left: -20px;
    margin-right: -20px;
    padding: 0 5px; }
  .col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    padding-left: 15px;
    padding-right: 15px; } }

@media (min-width: 1200px) {
  .container {
    max-width: 1176px;
    padding-left: 15px;
    padding-right: 15px; }
  .row {
    margin-left: -15px;
    margin-right: -15px; }
  .col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    padding-left: 15px;
    padding-right: 15px; } }

body {
  font-family: 'Lato', sans-serif; }

.head {
  font-family: 'Magistral',sans-serif;
  font-weight: bold;
  font-style: italic;
  font-size: 38px;
  line-height: 48px; }

a:focus, button:focus, input:focus {
  outline: none; }

.color-primary {
  color: #FF6F00; }

.--after-line:after {
  content: '';
  height: 4px;
  width: 60px;
  background: #FF6F00;
  display: block;
  margin-top: 18px; }

.heading-1 {
  font-family: 'Magistral', sans-serif;
  font-style: italic;
  font-weight: bold;
  font-size: 28px;
  line-height: 34px;
  color: #000; }
  @media (min-width: 800px) {
    .heading-1 {
      font-size: 32px;
      line-height: 42px; } }
  @media (min-width: 1200px) {
    .heading-1 {
      font-size: 38px;
      line-height: 48px; } }

.heading-2 {
  font-weight: 800;
  font-size: 30px;
  line-height: 40px;
  color: #000; }

.subheader {
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  color: #000; }

.common-text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: rgba(95, 95, 95, 0.91); }

.link {
  font-size: 15px;
  line-height: 22px;
  text-align: right;
  color: #4087BE;
  transition: all .2s; }
  .link:hover {
    text-decoration: none;
    color: #FF6F00; }
  .link.w-icon {
    display: flex;
    align-items: center; }
    .link.w-icon .icon {
      margin-right: 10px;
      width: 30px;
      height: 30px; }
      .link.w-icon .icon svg {
        width: 100%; }
        .link.w-icon .icon svg path {
          transition: all .2s; }
    .link.w-icon:hover svg path {
      fill: #FF6F00; }

.time-counter {
  font-weight: normal;
  font-size: 13px;
  line-height: 20px;
  color: rgba(95, 95, 95, 0.91); }
  .time-counter a {
    color: #4087BE;
    border-bottom: 1px dashed #4087BE;
    transition: all .2s; }
    .time-counter a:hover {
      text-decoration: none;
      color: #FF6F00;
      border-color: #FF6F00; }

.form-input {
  margin-bottom: 23px;
  position: relative; }
  .form-input label {
    position: absolute;
    color: rgba(95, 95, 95, 0.91);
    font-weight: normal;
    font-size: 15px;
    line-height: 50px;
    left: 20px;
    margin-bottom: 0;
    transition: all .2s; }
    .form-input label.up {
      padding: 0 10px;
      font-size: 14px;
      line-height: 24px;
      color: rgba(95, 95, 95, 0.7);
      top: -13px;
      left: 10px;
      background: white;
      letter-spacing: -0.1px; }
  .form-input input {
    width: 100%;
    padding-left: 20px;
    background: white;
    height: 50px;
    border: 1px solid rgba(95, 95, 95, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    transition: all .2s; }
    .form-input input:focus {
      border-color: rgba(95, 95, 95, 0.6); }
  .form-input .icon {
    width: 24px;
    height: 24px;
    display: none;
    position: absolute;
    right: 16px;
    bottom: 16px; }
    .form-input .icon img {
      width: 100%; }
  .form-input.--success .icon.done {
    display: block; }
  .form-input input[type='password'] + .reveal-input-icon {
    display: block; }
  .form-input.revealed .password-input-icon {
    display: block; }

.form-checkbox input {
  display: none; }
  .form-checkbox input:checked + label:after {
    opacity: 1; }

.form-checkbox label {
  display: inline-flex;
  align-items: center;
  font-size: 15px;
  line-height: 22px;
  margin-bottom: 0;
  color: rgba(95, 95, 95, 0.91); }
  .form-checkbox label:before {
    display: inline-block;
    content: '';
    width: 22px;
    height: 22px;
    background: #FFFFFF;
    border: 1px solid rgba(95, 95, 95, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    margin-right: 12px; }
  .form-checkbox label:after {
    position: absolute;
    content: '';
    background: url("../assets/icons/tick.svg");
    background-size: cover;
    width: 13px;
    height: 10px;
    left: 20px;
    top: 6px;
    opacity: 0;
    transition: all .2s; }

.form-verify {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 23px; }
  .form-verify input {
    width: 135px;
    margin-right: 15px;
    margin-bottom: 0; }
  .form-verify .form-input {
    margin-bottom: 13px; }
  .form-verify .button {
    height: 50px;
    width: 162px;
    text-transform: uppercase;
    border-radius: 3px;
    transition: all .2s;
    opacity: 1;
    border: 0;
    padding: 0;
    color: white;
    text-align: center;
    background: #5F5F5F;
    font-weight: bold;
    font-size: 13px;
    line-height: 50px;
    letter-spacing: 0.03em; }
    .form-verify .button:disabled {
      opacity: .15; }
    .form-verify .button:hover {
      background: #414141; }
    .form-verify .button:active {
      outline: none;
      background: #353535; }
  .form-verify .time-counter {
    margin-bottom: 10px; }

.form-select {
  display: block;
  margin-bottom: 15px; }
  .form-select.groupped {
    display: flex; }
    .form-select.groupped .select {
      width: 50%; }
    .form-select.groupped .select:first-of-type {
      border-radius: 4px 0 0 4px; }
      .form-select.groupped .select:first-of-type.open {
        border-radius: 4px 0 0 0; }
    .form-select.groupped .select:last-of-type {
      border-radius: 0 4px 4px 0; }
      .form-select.groupped .select:last-of-type.open {
        border-radius: 0 4px 0 0; }
  .form-select .select {
    width: 100%;
    border: 1px solid rgba(95, 95, 95, 0.2);
    padding-left: 20px;
    font-size: 15px;
    line-height: 50px;
    height: 50px;
    border-radius: 4px; }
    .form-select .select:after {
      content: '';
      background: url("../assets/icons/chevron_down.svg");
      background-size: cover;
      border: 0;
      width: 24px;
      height: 24px;
      transform: rotate(0);
      right: 9px;
      margin-top: -12px;
      transition: all 0s; }
    .form-select .select.open {
      border: 1px solid rgba(95, 95, 95, 0.6);
      border-radius: 4px 4px 0 0; }
      .form-select .select.open .current {
        color: rgba(95, 95, 95, 0.91);
        opacity: .8; }
      .form-select .select.open:after {
        transform-origin: center;
        transform: rotate(180deg); }
    .form-select .select .list {
      width: calc(100% + 2px);
      left: -1px;
      border-radius: 0 0 4px 4px;
      margin-top: 1px;
      max-height: 240px;
      overflow-y: scroll;
      box-shadow: 0px 10px 35px rgba(0, 0, 0, 0.1); }
      .form-select .select .list .option {
        padding-left: 20px; }
        .form-select .select .list .option.selected {
          font-weight: normal;
          background: #F4F8FA; }
        .form-select .select .list .option:hover {
          background: #F4F8FA; }
      .form-select .select .list::-webkit-scrollbar {
        width: 3px; }
      .form-select .select .list::-webkit-scrollbar-thumb {
        background-color: rgba(95, 95, 95, 0.6);
        width: 3px; }

.simple-btn {
  border-radius: 27px;
  height: 55px;
  border: 0;
  color: white;
  cursor: pointer;
  transition: all .2s;
  font-weight: bold;
  font-size: 13px;
  line-height: 54px;
  letter-spacing: -0.1px;
  text-transform: uppercase;
  padding: 0 35px; }
  .simple-btn.--primary {
    background: #FF6F00; }
    .simple-btn.--primary:hover {
      background: #FF5C00; }
    .simple-btn.--primary:active {
      background: #FF5200; }
  .simple-btn.--black {
    background: rgba(95, 95, 95, 0.91); }
    .simple-btn.--black:hover {
      background: #414141; }
    .simple-btn.--black:active {
      background: #353535; }
  .simple-btn:disabled {
    opacity: .15; }
  .simple-btn img {
    margin-top: -1px;
    margin-left: 10px; }

.arrow-btn {
  display: flex;
  align-items: center; }
  .arrow-btn .circle {
    background: #FF6F00;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-right: 15px; }
    .arrow-btn .circle img {
      width: 12px;
      height: 12px; }
  .arrow-btn .text {
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 0.4px;
    color: #000; }
  .arrow-btn:hover {
    text-decoration: none; }
    .arrow-btn:hover .circle {
      background: #FF5C00; }
  .arrow-btn:active .circle {
    background: #FF5200; }

.black-link {
  font-size: 16px;
  line-height: 22px;
  color: #000000;
  transition: all .2s; }
  .black-link:hover {
    text-decoration: none;
    color: #FF6F00; }

body {
  padding-top: 70px;
  background: #F4F8FA; }
  @media (min-width: 1200px) {
    body {
      padding-top: 139px; } }
  body.mobile-menu-opened {
    overflow: hidden; }

.header {
  position: fixed;
  z-index: 100;
  top: 0;
  width: 100%; }
  .header .mobile {
    display: flex;
    background: #FF6F00;
    align-items: center;
    justify-content: space-between;
    padding-left: 5px;
    height: 70px; }
    @media (min-width: 1200px) {
      .header .mobile {
        display: none; } }
    .header .mobile .header__phone {
      margin-left: auto;
      display: block;
      color: white;
      font-style: normal;
      font-weight: normal;
      font-size: 15px;
      line-height: 20px;
      letter-spacing: .4px; }
      .header .mobile .header__phone span {
        font-weight: bold; }
      @media (min-width: 800px) {
        .header .mobile .header__phone {
          font-size: 18px;
          line-height: 22px;
          letter-spacing: 0; } }
    .header .mobile .menu-btn {
      margin-left: -5px; }
  .header .tablet-btns {
    display: none; }
    .header .tablet-btns a {
      text-align: center;
      display: inline-block; }
      .header .tablet-btns a:first-of-type {
        margin-left: 10px;
        width: 48px; }
      .header .tablet-btns a:last-of-type {
        width: 49px;
        margin-right: -11px; }
    @media (min-width: 800px) and (max-width: 1200px) {
      .header .tablet-btns {
        display: block; } }
  .header .desktop {
    display: none; }
    @media (min-width: 1200px) {
      .header .desktop {
        display: block; } }
    .header .desktop .first-row {
      background: rgba(95, 95, 95, 0.91);
      font-size: 15px;
      line-height: 38px;
      color: white; }
      .header .desktop .first-row .desktop__logo-block {
        position: relative; }
      .header .desktop .first-row .desktop__logo {
        background: white;
        position: absolute;
        border-radius: 0 0 3px 3px;
        left: 15px;
        top: 0;
        width: 170px;
        height: 141px;
        padding-left: 29px;
        padding-top: 35px;
        transition: all .2s;
        box-shadow: 0px 5px 15px rgba(95, 95, 95, 0.05);
        z-index: 90; }
        .header .desktop .first-row .desktop__logo svg {
          width: 121px;
          transition: all .2s; }
      .header .desktop .first-row .address {
        display: inline-block;
        padding: 0 23px; }
      .header .desktop .first-row .call-back {
        color: white;
        display: inline-block;
        padding: 0 24px;
        background: #FF6F00;
        transition: all .2s; }
        .header .desktop .first-row .call-back:hover {
          text-decoration: none;
          background: #FF5C00; }
        .header .desktop .first-row .call-back:active {
          background: #FF5200; }
    .header .desktop .second-row {
      padding-top: 24px;
      box-shadow: 0px 5px 15px rgba(95, 95, 95, 0);
      transition: all .2s; }
      .header .desktop .second-row .popup-link {
        cursor: pointer;
        margin-right: 26px;
        color: #000;
        font-weight: bold;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        display: inline-flex;
        align-items: center;
        margin-top: 16px;
        transition: all .2s; }
        .header .desktop .second-row .popup-link img {
          margin-left: 5px; }
        .header .desktop .second-row .popup-link:hover {
          text-decoration: none;
          color: #FF6F00; }
        .header .desktop .second-row .popup-link:first-of-type {
          margin-left: 24px; }
        .header .desktop .second-row .popup-link:last-of-type {
          margin-right: 0; }
      .header .desktop .second-row .phone-block {
        margin-top: -2px;
        display: inline-block;
        text-align: right;
        padding-top: 13px; }
        .header .desktop .second-row .phone-block .tel {
          display: block;
          font-weight: bold;
          font-size: 20px;
          line-height: 20px;
          text-align: right;
          letter-spacing: 0.02em;
          transition: all .2s;
          margin-bottom: 4px;
          margin-top: 2px;
          color: #000; }
          .header .desktop .second-row .phone-block .tel:hover {
            text-decoration: none;
            color: #FF6F00; }
        .header .desktop .second-row .phone-block .link {
          display: block;
          color: #FF6F00;
          font-size: 15px;
          line-height: 18px;
          letter-spacing: -0.3px; }
          .header .desktop .second-row .phone-block .link:hover {
            text-decoration: none;
            color: #FF5C00; }
      .header .desktop .second-row .user-block {
        display: inline-block;
        margin-top: -15px;
        margin-left: 18px; }
        .header .desktop .second-row .user-block a {
          display: flex;
          align-items: center;
          color: #000;
          transition: all .2s;
          font-weight: bold;
          text-transform: uppercase;
          font-size: 14px;
          line-height: 17px;
          cursor: pointer; }
          .header .desktop .second-row .user-block a svg path {
            transition: all .2s; }
          .header .desktop .second-row .user-block a .text {
            display: inline-block;
            margin-top: -3px;
            letter-spacing: .5px; }
          .header .desktop .second-row .user-block a:hover {
            color: #FF6F00;
            text-decoration: none; }
            .header .desktop .second-row .user-block a:hover svg path {
              stroke: #FF6F00; }
    .header .desktop.--highlighten {
      background: white; }
      .header .desktop.--highlighten .first-row {
        height: 0; }
        .header .desktop.--highlighten .first-row .ml-auto {
          display: none; }
      .header .desktop.--highlighten .desktop__logo {
        height: 85px;
        padding-top: 14px;
        padding-left: 39px;
        border-radius: 0; }
        .header .desktop.--highlighten .desktop__logo .text {
          opacity: 0; }
        .header .desktop.--highlighten .desktop__logo svg {
          width: 100px; }
      .header .desktop.--highlighten .second-row {
        padding-top: 13px;
        padding-bottom: 14px;
        background: #F4F8FA;
        box-shadow: 0px 5px 20px rgba(95, 95, 95, 0.15); }

.menu-btn {
  width: 50px;
  height: 50px;
  border: 0;
  background: transparent;
  padding: 0;
  margin-right: 19px;
  cursor: pointer;
  transition: all .2s; }
  .menu-btn:hover {
    opacity: .8; }

.header__logo {
  display: block;
  margin-top: -10px; }
  @media (min-width: 800px) {
    .header__logo {
      margin-top: -5px; } }

.mobile__menu {
  position: fixed;
  z-index: 150;
  height: 100%;
  overflow: hidden;
  left: 0;
  top: 0;
  width: 0; }
  .mobile__menu__bg {
    width: 100%;
    height: 100%;
    position: absolute; }
  .mobile__menu.--open {
    width: 100%; }
    .mobile__menu.--open .inner-block {
      transform: translateX(0); }
  .mobile__menu.--closing {
    width: 100%; }
    .mobile__menu.--closing .inner-block {
      transform: translateX(-100%); }
  .mobile__menu .head {
    display: flex;
    align-items: center;
    min-height: 70px;
    padding-left: 27px; }
    .mobile__menu .head .header__logo {
      margin-top: -12px; }
    .mobile__menu .head .menu-btn {
      margin-right: 20px; }
  .mobile__menu .inner-block {
    transition: all .2s;
    overflow: scroll;
    transform: translateX(-100%);
    width: 320px;
    background: #474747;
    height: 100%;
    -ms-overflow-style: none; }
    .mobile__menu .inner-block::-webkit-scrollbar {
      display: none; }
  .mobile__menu .level {
    display: flex;
    flex-direction: column;
    min-height: calc(100% - 70px); }
    .mobile__menu .level.second .link-item {
      font-size: 15px; }
  .mobile__menu .lighten {
    background: rgba(95, 95, 95, 0.91); }
    .mobile__menu .lighten .link-item:last-of-type:after {
      opacity: 0; }
  .mobile__menu .link-item {
    display: flex;
    position: relative;
    padding: 0 37px;
    height: 50px;
    font-weight: normal;
    font-size: 16px;
    line-height: 50px;
    align-items: center;
    justify-content: space-between;
    background: rgba(255, 255, 255, 0);
    transition: all .2s;
    color: white; }
    .mobile__menu .link-item.back {
      justify-content: flex-start; }
      .mobile__menu .link-item.back img {
        margin-left: -10px; }
    .mobile__menu .link-item:after {
      position: absolute;
      content: '';
      width: calc(100% - 72px);
      background: rgba(255, 255, 255, 0.1);
      bottom: 0;
      left: 0;
      right: 0;
      height: 1px;
      margin: auto; }
    .mobile__menu .link-item:hover {
      text-decoration: none;
      background: rgba(255, 255, 255, 0.2); }
  .mobile__menu .contacts-block {
    margin-top: auto;
    padding: 0 37px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; }
    .mobile__menu .contacts-block .simple-btn {
      margin-top: 25px;
      margin-bottom: 25px; }
    .mobile__menu .contacts-block .footer__geo {
      margin-bottom: 20px; }
    .mobile__menu .contacts-block .footer__phone {
      margin-bottom: 25px; }
    .mobile__menu .contacts-block .socials-links {
      width: 100%; }

.header-menu-popover {
  border: 0;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15); }
  .header-menu-popover .popover-body {
    padding: 0; }
  .header-menu-popover a {
    display: block;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 45px;
    color: #5F5F5F;
    padding-left: 20px;
    padding-right: 20px;
    min-width: 200px;
    border-bottom: 1px solid rgba(95, 95, 95, 0.08);
    transition: all .2s; }
    .header-menu-popover a:last-of-type {
      border: 0; }
    .header-menu-popover a:hover {
      text-decoration: none;
      background: #F4F8FA; }

.footer {
  background: #474747;
  padding-top: 40px; }
  .footer .desktop-block {
    display: none; }
    @media (min-width: 1200px) {
      .footer .desktop-block {
        display: flex;
        justify-content: space-between; }
        .footer .desktop-block .desktop-block__item {
          width: 190px;
          margin-right: 40px; }
          .footer .desktop-block .desktop-block__item:nth-of-type(3) {
            margin-right: 40px;
            width: 195px; }
          .footer .desktop-block .desktop-block__item:last-of-type {
            margin-right: 6px;
            width: 140px; }
          .footer .desktop-block .desktop-block__item a {
            display: block;
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;
            color: white;
            opacity: .5;
            transition: all .2s;
            margin-bottom: 13px;
            letter-spacing: 0px; }
            .footer .desktop-block .desktop-block__item a:hover {
              text-decoration: none;
              opacity: 1; } }
  .footer .mobile-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    @media (max-width: 799px) {
      .footer .mobile-block {
        max-width: 270px;
        margin: 0 auto; } }
  .footer__title {
    width: 100%;
    font-weight: bold;
    font-size: 15px;
    line-height: 26px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: white;
    text-align: center;
    margin-bottom: 20px; }
  .footer__geo {
    display: flex;
    color: white;
    width: 225px;
    margin-bottom: 20px; }
    .footer__geo .icon {
      margin-right: 10px; }
      .footer__geo .icon img {
        margin-top: -7px; }
    .footer__geo .main {
      font-weight: normal;
      font-size: 16px;
      line-height: 24px; }
      .footer__geo .main .schedule {
        font-weight: normal;
        font-size: 13px;
        line-height: 18px;
        opacity: .5; }
  .footer__phone {
    display: block;
    width: 225px;
    color: white;
    transition: all .2s;
    margin-bottom: 25px; }
    .footer__phone .icon img {
      margin-top: -6px;
      margin-right: 7px; }
    .footer__phone:hover {
      text-decoration: none;
      color: #FF6F00; }
  .footer__actions .simple-btn {
    height: 50px;
    line-height: 1.4;
    margin-bottom: 25px; }
  .footer__actions .arrow-btn {
    margin-bottom: 25px; }
    .footer__actions .arrow-btn .text {
      color: white; }
    .footer__actions .arrow-btn:hover .text {
      color: #FF6F00; }
  .footer__socials {
    width: 224px;
    padding-bottom: 40px; }
  .footer .copyrights-block {
    background: #5F5F5F; }
  .footer .copyrights-row {
    padding-top: 20px;
    padding-bottom: 30px; }
    .footer .copyrights-row .logos {
      text-align: center;
      margin-bottom: 20px; }
      .footer .copyrights-row .logos img:first-of-type {
        margin-right: 30px; }
    .footer .copyrights-row .copyright {
      font-weight: normal;
      font-size: 14px;
      line-height: 22px;
      letter-spacing: .2px;
      margin-bottom: 20px;
      text-align: center; }
      .footer .copyrights-row .copyright p {
        color: white;
        opacity: .8;
        margin-bottom: 0; }
      .footer .copyrights-row .copyright a {
        color: white;
        opacity: .8;
        transition: all .2s; }
        .footer .copyrights-row .copyright a:hover {
          opacity: 1;
          color: #FF6F00; }
    .footer .copyrights-row .created {
      font-size: 14px;
      line-height: 22px;
      letter-spacing: .2px;
      color: white;
      opacity: .8;
      text-align: center; }
      .footer .copyrights-row .created img {
        margin-left: 15px; }
    @media (min-width: 800px) {
      .footer .copyrights-row {
        padding-top: 18px; }
        .footer .copyrights-row .logos {
          text-align: left; }
          .footer .copyrights-row .logos img:first-of-type {
            margin-left: 3px;
            margin-right: 26px; }
        .footer .copyrights-row .copyright {
          text-align: left;
          padding: 0 18px; }
        .footer .copyrights-row .created {
          text-align: left;
          white-space: nowrap; }
          .footer .copyrights-row .created a {
            display: block; }
          .footer .copyrights-row .created img {
            margin-left: 0; } }
    @media (min-width: 1200px) {
      .footer .copyrights-row {
        padding-top: 16px;
        padding-bottom: 2px; }
        .footer .copyrights-row .logos {
          margin-left: -15px; }
          .footer .copyrights-row .logos img:first-of-type {
            margin-left: 0;
            margin-right: 26px; }
        .footer .copyrights-row .copyright p {
          padding-top: 12px;
          padding-left: 17px;
          letter-spacing: 0.3px; }
        .footer .copyrights-row .copyright a {
          margin-left: 15px; }
        .footer .copyrights-row .created {
          padding-top: 10px; }
          .footer .copyrights-row .created a {
            display: inline-block;
            margin-left: 13px; } }
  @media (min-width: 800px) {
    .footer {
      padding-top: 51px; }
      .footer .mobile-block {
        padding: 0 12px;
        justify-content: space-between; }
      .footer .footer__title {
        text-align: left;
        letter-spacing: 1.2px; }
      .footer .footer__geo {
        width: 50%;
        order: 0;
        margin-bottom: 46px; }
        .footer .footer__geo .text {
          letter-spacing: 0.2px; }
        .footer .footer__geo .schedule {
          margin-top: 10px;
          font-size: 14px;
          line-height: 20px;
          padding-left: 2px;
          letter-spacing: 0.1px; }
      .footer .footer__phone {
        width: 340px;
        order: 1; }
      .footer .footer__actions {
        width: 340px;
        order: 4;
        margin-top: -76px; }
      .footer .footer__socials {
        order: 3;
        width: 230px;
        padding-bottom: 50px; } }
  @media (min-width: 1200px) {
    .footer {
      padding-top: 80px; }
      .footer .mobile-block {
        padding: 0 15px; }
      .footer .footer__title {
        margin-bottom: 25px; }
      .footer .footer__geo {
        order: 1;
        width: 100%;
        margin-bottom: 26px; }
      .footer .footer__phone {
        order: 2;
        width: 100%;
        margin-bottom: 20px; }
      .footer .footer__actions {
        margin-top: 0;
        order: 3;
        width: 100%;
        margin-bottom: 17px; }
      .footer .footer__socials {
        order: 4;
        width: 230px; } }

.l1 {
  background: url("../assets/landing-promo-decor-1.svg");
  background-position-y: -23px;
  background-position-x: 3px;
  padding: 40px 0px 70px;
  overflow: hidden; }
  @media (min-width: 800px) {
    .l1 {
      background-position-y: 14px;
      background-position-x: 2px;
      padding-top: 60px;
      padding-bottom: 84px; } }
  @media (min-width: 1200px) {
    .l1 {
      padding-top: 197px;
      padding-bottom: 102px;
      margin-top: -92px;
      background-position-y: 22px;
      background-position-x: 17px;
      background-repeat: no-repeat; } }
  .l1 .heading-1 {
    font-size: 26px;
    line-height: 33px;
    margin-bottom: 30px; }
    .l1 .heading-1 br {
      display: none; }
    @media (min-width: 800px) {
      .l1 .heading-1 {
        width: 60%;
        font-size: 32px;
        line-height: 42px;
        margin-bottom: 35px; }
        .l1 .heading-1 br {
          display: block; } }
    @media (min-width: 1200px) {
      .l1 .heading-1 {
        font-size: 38px;
        line-height: 48px;
        margin-bottom: 42px; }
        .l1 .heading-1 br {
          display: none; } }
  .l1 .simple-btn {
    margin-left: -5px; }
  .l1__people {
    text-align: right; }
    @media (min-width: 1200px) {
      .l1__people {
        height: 0; } }
    .l1__people img {
      margin-right: -131px;
      width: 311px;
      margin-top: -3px; }
      @media (min-width: 800px) {
        .l1__people img {
          margin-right: -193px;
          width: 565px;
          margin-top: -246px; } }
      @media (min-width: 1200px) {
        .l1__people img {
          margin-right: -127px;
          width: 687px;
          margin-top: -282px; } }
  .l1__search {
    margin-top: -137px; }
    .l1__search .text {
      width: 125px;
      font-size: 20px;
      line-height: 28px;
      margin-bottom: 30px; }
    .l1__search__block .tab {
      border-radius: 3px 3px 0px 0px;
      background: rgba(95, 95, 95, 0.91);
      height: 45px;
      color: white;
      padding: 0px 20px;
      display: inline-block; }
      .l1__search__block .tab .num {
        font-weight: bold;
        font-size: 20px;
        line-height: 45px;
        margin-right: 7px; }
      .l1__search__block .tab .text {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 45px; }
    .l1__search__block .search {
      position: relative;
      width: 100%; }
      .l1__search__block .search input {
        width: 100%;
        height: 55px;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 55px;
        color: rgba(95, 95, 95, 0.91);
        padding-left: 25px;
        padding-right: 50px;
        background: #FFFFFF;
        box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.06);
        border-radius: 0 5px 5px 5px;
        border: 0; }
        .l1__search__block .search input::placeholder {
          color: rgba(95, 95, 95, 0.91); }
      .l1__search__block .search img {
        position: absolute;
        right: 0;
        bottom: 0; }
    @media (min-width: 800px) {
      .l1__search__block {
        margin-top: 124px;
        display: flex;
        flex-wrap: wrap;
        align-items: center; }
        .l1__search__block .text {
          width: auto;
          margin-bottom: 12px; }
        .l1__search__block .tab {
          margin-left: auto; } }
    @media (min-width: 1200px) {
      .l1__search {
        width: 52.4%;
        margin-top: 0;
        display: inline-block; }
        .l1__search .l1__search__block {
          margin-top: 90px; } }
  .l1__stats {
    display: none; }
    @media (min-width: 1200px) {
      .l1__stats {
        display: inline-flex;
        justify-content: space-between;
        width: 39.8%;
        margin-top: 95px;
        float: right; } }
    .l1__stats .item {
      min-width: 115px; }
      .l1__stats .item .heading-1 {
        white-space: nowrap;
        font-size: 36px;
        line-height: 42px;
        margin-bottom: 3px; }
      .l1__stats .item .text {
        font-weight: normal;
        font-size: 15px;
        line-height: 20px;
        color: rgba(95, 95, 95, 0.91);
        letter-spacing: -0.2px; }

.l2 {
  background: white;
  padding-top: 50px;
  padding-bottom: 20px;
  overflow: hidden; }
  .l2__title {
    font-weight: 800;
    font-size: 24px;
    line-height: 30px;
    color: #000;
    letter-spacing: -0.8px;
    margin-bottom: 30px; }
  .l2 .owl-stage-outer {
    overflow: visible; }
  .l2 .specs-slider {
    margin-bottom: 30px; }
  @media (min-width: 800px) {
    .l2 {
      padding-top: 69px;
      padding-bottom: 97px; }
      .l2 .l2__title {
        font-size: 26px;
        line-height: 50px;
        margin-bottom: 35px; } }
  @media (min-width: 1200px) {
    .l2 {
      padding-top: 110px;
      padding-bottom: 100px; }
      .l2 .l2__title {
        font-weight: 800;
        font-size: 30px;
        line-height: 52px;
        letter-spacing: -1px; } }

.specs-item {
  width: 187px; }
  @media (min-width: 800px) {
    .specs-item {
      width: 227px; } }
  .specs-item img {
    max-width: 100%;
    width: 100%;
    margin-bottom: 15px; }
  .specs-item .name {
    display: block;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #000;
    margin-bottom: 8px; }
  .specs-item .price {
    display: flex;
    font-style: normal;
    font-weight: normal;
    font-size: 14.6px;
    line-height: 20px; }
    .specs-item .price .new {
      color: #FF6F00;
      margin-right: 12px; }
    .specs-item .price .old {
      text-decoration: line-through;
      color: rgba(95, 95, 95, 0.91); }
    @media (min-width: 800px) {
      .specs-item .price {
        font-size: 18px;
        line-height: 20px;
        letter-spacing: .3px; }
        .specs-item .price .old {
          letter-spacing: -0.5px; } }
  @media (min-width: 1200px) {
    .specs-item img {
      margin-bottom: 13px; } }

.l-desktop {
  height: 450px;
  padding-top: 75px;
  padding-bottom: 74px;
  position: relative;
  background: white;
  display: none; }
  @media (min-width: 1200px) {
    .l-desktop {
      display: block; } }
  .l-desktop .container {
    position: relative; }
    .l-desktop .container:after {
      content: '';
      position: absolute;
      width: 407px;
      height: 201px;
      background: url("../assets/landing-promo-decor-2.svg");
      background-position-x: 13px;
      left: -111px;
      top: -74px; }
  .l-desktop:before {
    content: '';
    position: absolute;
    height: 100%;
    width: 49%;
    border-radius: 27px 0 0 0;
    right: 0;
    top: 0;
    background: #F4F8FA; }
  .l-desktop .items {
    width: 100%; }
    .l-desktop .items .item {
      margin-bottom: 55px;
      transition: all .9s; }
      .l-desktop .items .item.pr {
        padding-right: 0;
        padding-left: 100px; }
      .l-desktop .items .item.pl {
        padding-right: 100px;
        padding-left: 0; }
      .l-desktop .items .item .title {
        font-size: 16px;
        line-height: 22px;
        color: #000;
        margin-bottom: 5px; }
      .l-desktop .items .item .text {
        font-size: 16px;
        line-height: 22px;
        color: #5F5F5F;
        opacity: 0.8; }
  .l-desktop.activated .items .pl {
    padding-left: 100px;
    padding-right: 0; }
  .l-desktop.activated .items .pr {
    padding-left: 0;
    padding-right: 100px; }
  .l-desktop.activated .animated__car .car {
    transform: translateX(127px); }
  .l-desktop.activated .animated__car .car-outlined {
    transform: translateX(-127px); }

.animated__car {
  width: 300px;
  height: 300px;
  margin: 0 auto;
  border: 30px solid #FF6F00;
  border-radius: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center; }
  .animated__car .car, .animated__car .car-outlined {
    position: absolute;
    transform: translateX(0);
    transition: all .9s; }

.l3 {
  padding-top: 50px;
  padding-bottom: 70px;
  background: white;
  position: relative; }
  @media (min-width: 800px) {
    .l3 {
      padding-top: 51px;
      padding-bottom: 82px; } }
  @media (min-width: 1200px) {
    .l3 {
      padding-top: 141px;
      padding-bottom: 120px; } }
  .l3 .heading-1 {
    margin-bottom: 52px; }
    @media (min-width: 800px) {
      .l3 .heading-1 {
        margin-left: -1px;
        margin-bottom: 48px; } }
    @media (min-width: 1200px) {
      .l3 .heading-1 {
        margin-bottom: 72px; } }
  .l3 .simple-btn {
    margin-left: 19px;
    margin-top: 3px;
    letter-spacing: 0.4px; }
    @media (min-width: 800px) {
      .l3 .simple-btn {
        margin-top: 0;
        margin-left: -5px;
        letter-spacing: 0.2px; } }
  @media (min-width: 800px) {
    .l3 .steps-row {
      justify-content: space-between; }
      .l3 .steps-row:before {
        position: absolute;
        content: '';
        background: #D2D2D7;
        width: 100%;
        height: 2px;
        top: 309px;
        left: 0; } }
  @media (min-width: 1200px) {
    .l3 .steps-row:before {
      top: 506px; } }

.step-item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 40px;
  padding-left: 35px;
  position: relative;
  min-height: 176px; }
  @media (min-width: 800px) {
    .step-item {
      display: block;
      width: 222px;
      padding-left: 0;
      margin-bottom: 0; } }
  @media (min-width: 1200px) {
    .step-item {
      width: 31.6%;
      margin-bottom: 41px; } }
  .step-item .image,
  .step-item .time,
  .step-item .title,
  .step-item .text {
    opacity: 0; }
  .step-item .image {
    width: 90px;
    height: 60px;
    margin-bottom: 15px; }
    @media (min-width: 800px) {
      .step-item .image {
        width: 120px;
        height: 80px;
        margin-bottom: 50px;
        margin-left: -5px; } }
    @media (min-width: 1200px) {
      .step-item .image {
        width: 210px;
        height: auto;
        margin-bottom: 67px;
        margin-left: -10px; }
        .step-item .image img {
          width: 100%; } }
    .step-item .image img {
      max-width: 100%; }
  .step-item .time {
    color: #FF6F00;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 25px;
    margin-top: -19px; }
    .step-item .time img {
      margin-top: -9px;
      margin-right: 8px; }
    @media (min-width: 800px) {
      .step-item .time {
        width: 100%;
        padding-left: 0;
        margin-top: 0px;
        margin-bottom: 14px; } }
    @media (min-width: 1200px) {
      .step-item .time {
        margin-bottom: 20px; } }
  .step-item .title {
    width: 100%;
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    color: #000;
    letter-spacing: -0.7px;
    margin-bottom: 9px;
    padding-left: 5px; }
    @media (min-width: 800px) {
      .step-item .title {
        padding-left: 0; } }
  .step-item .text {
    padding-left: 5px;
    width: 100%;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: rgba(95, 95, 95, 0.91);
    padding-right: 6px; }
    @media (min-width: 800px) {
      .step-item .text {
        padding-left: 0;
        line-height: 25px; } }
    @media (min-width: 1200px) {
      .step-item .text {
        padding-right: 30px;
        line-height: 22px; } }
  .step-item:before {
    content: '';
    background: #FF6F00;
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    left: 10px;
    top: 25px;
    opacity: 0;
    transition: all .2s; }
    @media (min-width: 800px) {
      .step-item:before {
        left: 30px;
        top: 100px; } }
    @media (min-width: 1200px) {
      .step-item:before {
        left: 54px;
        top: 171px; } }
  .step-item:after {
    content: '';
    height: 0;
    position: absolute;
    width: 2px;
    background: #FF6F00;
    left: 14px;
    top: 25px;
    opacity: .5;
    transition: all 1s linear; }
    @media (min-width: 800px) {
      .step-item:after {
        opacity: 1;
        height: 2px;
        width: 0;
        left: 30px;
        top: 104px; } }
    @media (min-width: 1200px) {
      .step-item:after {
        opacity: 1;
        height: 2px;
        width: 0;
        left: 60px;
        top: 175px; } }
  .step-item:last-of-type:after {
    display: none; }
  .step-item.js-animated .image {
    animation: slideFromLeft .8s forwards;
    animation-delay: 0s; }
  .step-item.js-animated .time {
    animation: slideFromLeft .8s forwards;
    animation-delay: .05s; }
  .step-item.js-animated .title {
    animation: slideFromLeft .8s forwards;
    animation-delay: .1s; }
  .step-item.js-animated .text {
    animation: slideFromLeft .8s forwards;
    animation-delay: .15s; }
  .step-item.js-animated:after {
    height: 127%;
    width: 2px; }
    @media (min-width: 800px) {
      .step-item.js-animated:after {
        opacity: 1;
        width: 117%;
        height: 2px; } }
    @media (min-width: 1200px) {
      .step-item.js-animated:after {
        opacity: 1;
        width: 109%; } }
  .step-item.js-animated:before {
    opacity: 1; }

@keyframes slideFromLeft {
  from {
    opacity: 0;
    transform: translateX(-50%); }
  to {
    opacity: 1;
    transform: translateX(0); } }

.l4 {
  position: relative;
  background: white;
  padding-top: 60px;
  padding-bottom: 70px; }
  @media (min-width: 800px) {
    .l4 {
      padding-top: 70px;
      padding-bottom: 44px; }
      .l4:after {
        content: '';
        position: absolute;
        width: 132px;
        height: 135px;
        background: url("../assets/landing-promo-decor.svg");
        right: 0;
        top: 0; } }
  @media (min-width: 1200px) {
    .l4 {
      padding-top: 95px;
      padding-bottom: 90px; }
      .l4:after {
        content: '';
        position: absolute;
        width: 293px;
        height: 201px;
        background: url("../assets/landing-promo-decor-2.svg");
        right: 0;
        top: 0; } }
  .l4:before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 0 27px 27px 0;
    left: 0;
    top: 0;
    background: #F4F8FA; }
    @media (min-width: 800px) {
      .l4:before {
        width: 56%;
        border-radius: 0 27px 0 0; } }
    @media (min-width: 1200px) {
      .l4:before {
        width: 49%; } }
  .l4 .heading-1 {
    margin-bottom: 25px; }
    @media (min-width: 800px) {
      .l4 .heading-1 {
        margin-bottom: 38px; } }
    @media (min-width: 1200px) {
      .l4 .heading-1 {
        margin-bottom: 47px; } }
  .l4 .common-text {
    line-height: 22px;
    margin-bottom: 27px; }
    @media (min-width: 800px) {
      .l4 .common-text {
        letter-spacing: .1px;
        line-height: 24px;
        margin-bottom: 40px; } }
    @media (min-width: 1200px) {
      .l4 .common-text {
        font-size: 18px;
        line-height: 26px;
        letter-spacing: .1px;
        margin-bottom: 70px; } }
  .l4 .img {
    width: 100%;
    margin-bottom: 26px; }
    @media (min-width: 800px) {
      .l4 .img {
        width: 348.5px;
        margin-left: -10px; } }
    @media (min-width: 1200px) {
      .l4 .img {
        width: 100%;
        margin-left: -20px; } }
  .l4 .simple-btn {
    margin: 0 auto;
    display: block;
    letter-spacing: 0.2px; }
  .l4__about {
    padding-top: 140px;
    padding-left: 26px; }
    .l4__about .about-item {
      display: flex;
      align-items: center;
      margin-bottom: 15px; }
      .l4__about .about-item .icon {
        margin-right: 20px;
        width: 40px;
        height: 40px; }
      .l4__about .about-item .text {
        font-size: 16px;
        line-height: 22px;
        color: #000;
        margin-top: -7px;
        letter-spacing: -0.1px; }
    .l4__about .simple-btn {
      margin: 41px 0 0; }
    @media (min-width: 1200px) {
      .l4__about {
        padding-top: 14px;
        padding-left: 40px; }
        .l4__about .about-item {
          flex-wrap: wrap;
          margin-bottom: 24px; }
          .l4__about .about-item .icon {
            width: 50px;
            height: 50px; }
            .l4__about .about-item .icon img {
              width: 100%; }
          .l4__about .about-item .text {
            font-size: 20px;
            line-height: 26px;
            margin-top: -12px; }
          .l4__about .about-item .description {
            margin-top: -9px;
            padding-left: 70px;
            font-size: 16px;
            line-height: 24px;
            color: rgba(95, 95, 95, 0.91);
            opacity: 0.9; }
            .l4__about .about-item .description + .description {
              opacity: .7;
              font-size: 15px;
              line-height: 22px; }
        .l4__about .simple-btn {
          margin: 48px 0 0;
          transform: translateX(65px); } }

.l5 {
  background: white;
  padding-top: 60px;
  padding-bottom: 30px;
  overflow: hidden; }
  @media (min-width: 800px) {
    .l5 {
      padding-top: 80px;
      padding-bottom: 40px; }
      .l5 .l5__slider {
        overflow: hidden;
        position: relative;
        left: 36.3%;
        margin-top: -439px; } }
  @media (min-width: 1200px) {
    .l5 {
      padding-top: 159px; }
      .l5 .l5__slider {
        margin-top: -424px;
        left: 36.7%; } }
  .l5 .heading-1 {
    margin-bottom: 24px; }
    .l5 .heading-1:after {
      margin-top: 25px; }
    @media (min-width: 800px) {
      .l5 .heading-1 {
        padding-top: 31px;
        margin-bottom: 35px; }
        .l5 .heading-1:after {
          margin-top: 19px; } }
    @media (min-width: 1200px) {
      .l5 .heading-1 {
        width: 200px;
        margin-bottom: 45px; }
        .l5 .heading-1:after {
          margin-top: 24px; } }
  .l5 .common-text {
    line-height: 22px;
    margin-bottom: 24px; }
    @media (min-width: 800px) {
      .l5 .common-text {
        margin-bottom: 35px; } }
    @media (min-width: 1200px) {
      .l5 .common-text {
        font-size: 18px;
        line-height: 26px;
        margin-bottom: 40px;
        letter-spacing: 0; } }
  .l5 .owl-stage-outer {
    overflow: visible; }
    @media (min-width: 800px) {
      .l5 .owl-stage-outer {
        overflow: hidden; } }
  .l5 .simple-btn.--primary {
    margin-left: -4px; }

.feedback-item {
  margin-bottom: 40px;
  width: 260px; }
  @media (min-width: 800px) {
    .feedback-item {
      width: 330px; } }
  .feedback-item .album {
    display: none; }
    @media (min-width: 800px) {
      .feedback-item .album {
        display: block;
        width: 330px;
        max-height: 170px;
        overflow: hidden; } }
  .feedback-item .avatar {
    width: 64px;
    height: 64px;
    border: 2px solid white;
    border-radius: 100%;
    margin-left: 18px;
    position: relative;
    z-index: 1; }
    @media (min-width: 800px) {
      .feedback-item .avatar {
        margin-top: -33px;
        border: 3px solid white;
        height: 66px;
        width: 66px;
        margin-left: 27px; } }
  .feedback-item .main {
    background: #F4F8FA;
    padding: 50px 20px 30px;
    margin-top: -37px;
    position: relative; }
    .feedback-item .main:after {
      content: '';
      position: absolute;
      bottom: -20px;
      right: 20px;
      border-top: 30px solid transparent;
      border-bottom: 30px solid transparent;
      border-right: 42px solid #F4F8FA; }
    .feedback-item .main .common-text {
      margin-bottom: 15px; }
    .feedback-item .main .name {
      font-size: 14px;
      line-height: 24px;
      margin-bottom: 0;
      color: #000; }
    .feedback-item .main .date {
      font-size: 12px;
      line-height: 24px;
      color: rgba(95, 95, 95, 0.91);
      opacity: .8; }
    @media (min-width: 800px) {
      .feedback-item .main {
        margin-top: -33px;
        padding: 50px 29px 42px; }
        .feedback-item .main .common-text {
          letter-spacing: -0.6px;
          margin-bottom: 25px; }
        .feedback-item .main .name {
          display: inline-block;
          margin-right: 12px; }
        .feedback-item .main .date {
          display: inline-block; }
        .feedback-item .main:after {
          bottom: -31px;
          right: 30px;
          border-top: 32px solid transparent;
          border-bottom: 32px solid transparent;
          border-right: 47px solid #F4F8FA; } }
    @media (min-width: 1200px) {
      .feedback-item .main .common-text {
        font-size: 15px;
        line-height: 22px;
        letter-spacing: -0.1px; } }

.l6 {
  padding-top: 40px;
  padding-bottom: 30px;
  background: white;
  overflow: hidden; }
  @media (min-width: 800px) {
    .l6 {
      padding-top: 52px;
      padding-bottom: 35px; }
      .l6 .arrow-btn {
        padding-top: 28px; } }
  @media (min-width: 1200px) {
    .l6 {
      padding-top: 132px;
      padding-bottom: 98px; }
      .l6 .arrow-btn {
        padding-top: 0; } }
  .l6 .heading-1 {
    margin-bottom: 37px; }
    .l6 .heading-1 br {
      display: none; }
    @media (min-width: 800px) {
      .l6 .heading-1 {
        margin-bottom: 70px; } }
    @media (min-width: 800px) and (max-width: 1200px) {
      .l6 .heading-1 br {
        display: block; } }
    @media (min-width: 1200px) {
      .l6 .heading-1 {
        margin-bottom: 66px; } }
  .l6 .owl-stage-outer {
    overflow: visible; }
    @media (min-width: 800px) {
      .l6 .owl-stage-outer {
        overflow: hidden; } }

.news-item {
  display: block;
  margin-bottom: 35px; }
  @media (max-width: 800px) {
    .news-item {
      max-width: 260px; } }
  @media (min-width: 800px) {
    .news-item {
      margin-bottom: 10px; } }
  .news-item .album {
    display: block;
    margin-bottom: 10px;
    height: 137px; }
    @media (min-width: 800px) {
      .news-item .album {
        height: 128.5px; } }
    @media (min-width: 1200px) {
      .news-item .album {
        height: 201.5px;
        overflow: hidden; } }
    .news-item .album img {
      width: 100%; }
  .news-item .date {
    display: block;
    font-weight: 500;
    font-size: 13px;
    line-height: 25px;
    color: #FF6F00;
    margin-bottom: 5px; }
    @media (min-width: 1200px) {
      .news-item .date {
        margin-bottom: 8px; } }
  .news-item .text {
    display: block;
    font-size: 16px;
    line-height: 20px;
    color: #000;
    letter-spacing: -0.1px; }
    @media (min-width: 1200px) {
      .news-item .text {
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: -0.6px; } }
  .news-item .description {
    display: none; }
    @media (min-width: 1200px) {
      .news-item .description {
        display: block;
        margin-top: 10px;
        padding-right: 30px; } }
  .news-item:hover {
    text-decoration: none; }
    .news-item:hover .text {
      color: #FF6F00; }

.l7 {
  background: white;
  padding-top: 41px;
  padding-bottom: 39px; }
  @media (min-width: 800px) {
    .l7 {
      padding-top: 13px; } }
  @media (min-width: 1200px) {
    .l7 {
      padding-bottom: 99px; } }
  .l7 .widget-block {
    background: #D2D2D7;
    width: 100%;
    height: 190px;
    margin-bottom: 20px;
    border-radius: 3px; }

.socials-links {
  display: flex;
  justify-content: space-between; }
  .socials-links.--dark .item {
    background: #5F5F5F; }
    .socials-links.--dark .item:hover {
      background: #FF6F00; }
  .socials-links.--blue .item {
    background: #B3CCD9;
    width: 45px;
    height: 45px; }
    .socials-links.--blue .item:hover {
      background: #FF6F00; }
  .socials-links .item {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .2s;
    border-radius: 100%; }

.eu-modal .modal-header {
  border-bottom: 0;
  padding-bottom: 22px;
  padding-top: 14px; }
  .eu-modal .modal-header .close {
    transition: all .2s;
    padding: 19px 19px 0; }

.eu-modal .modal-content {
  border: 0;
  border-radius: 0; }

.eu-modal .modal-dialog {
  max-width: 480px; }

.eu-modal .modal-body {
  padding: 0 60px; }

.eu-modal .modal-title {
  font-size: 24px;
  line-height: 30px;
  color: #000;
  position: relative;
  margin-bottom: 36px;
  margin-right: 5px;
  letter-spacing: -0.2px; }
  .eu-modal .modal-title:after {
    display: block;
    content: '';
    width: 30px;
    height: 4px;
    background: #FF6F00;
    margin-top: 20px; }
  .eu-modal .modal-title.not-active {
    opacity: .3; }
    .eu-modal .modal-title.not-active:hover {
      opacity: .8; }
    .eu-modal .modal-title.not-active:after {
      opacity: 0; }

.eu-modal .common-text {
  color: rgba(95, 95, 95, 0.91);
  line-height: 22px; }

.eu-modal .socials {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px; }
  .eu-modal .socials .text {
    color: rgba(95, 95, 95, 0.91);
    width: 155px;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -0.4px;
    margin-bottom: 0; }
  .eu-modal .socials .socials-links {
    width: 195px; }

.eu-modal .agreement {
  font-weight: normal;
  font-size: 15px;
  line-height: 22px;
  color: rgba(95, 95, 95, 0.91);
  letter-spacing: -0.2px; }
  .eu-modal .agreement a {
    color: #4087BE;
    transition: all .2s; }
    .eu-modal .agreement a:hover {
      text-decoration: none;
      color: #FF6F00; }

.eu-modal .login .common-text {
  margin-bottom: 33px; }

.eu-modal .login .simple-btn {
  margin-bottom: 58px;
  margin-top: 13px; }

.eu-modal .login .socials {
  background: #F4F8FA;
  padding: 34px 60px 36px;
  margin: 0 -60px; }
  .eu-modal .login .socials .text {
    padding-right: 20px; }

.eu-modal .register {
  padding-bottom: 40px; }
  .eu-modal .register .common-text {
    margin-bottom: 33px; }
  .eu-modal .register .simple-btn {
    margin-top: 31px;
    margin-bottom: 30px; }

.eu-modal .recover_password {
  padding-bottom: 57px; }
  .eu-modal .recover_password .common-text {
    margin-right: -4px;
    margin-bottom: 33px; }
  .eu-modal .recover_password .form-input {
    margin-bottom: 24px; }
  .eu-modal .recover_password .form-verify .form-input {
    margin-bottom: 14px; }
  .eu-modal .recover_password .simple-btn {
    margin-top: 6px;
    margin-bottom: 30px; }

.eu-modal .success {
  padding-bottom: 71px; }
  .eu-modal .success .common-text {
    margin-bottom: 20px; }
  .eu-modal .success .link {
    margin-bottom: 10px;
    letter-spacing: .3px; }
  .eu-modal .success .simple-btn {
    margin-top: 26px; }

.eu-modal .request {
  padding-bottom: 53px; }
  .eu-modal .request .modal-title {
    margin-bottom: 52px; }
  .eu-modal .request .simple-btn {
    margin-top: 7px;
    margin-bottom: 29px; }

.breadcrumbs {
  margin-bottom: 10px; }
  .breadcrumbs__item {
    font-weight: normal;
    font-size: 13px;
    line-height: 20px;
    color: #4087BE;
    margin-right: 5px; }
    .breadcrumbs__item:hover {
      text-decoration: none;
      color: #FF6F00; }
    .breadcrumbs__item:after {
      content: '/';
      margin-left: 5px;
      color: #5F5F5F; }
    .breadcrumbs__item:last-of-type {
      color: #5F5F5F;
      pointer-events: none;
      letter-spacing: .4px; }
      .breadcrumbs__item:last-of-type:after {
        content: ''; }
    @media (min-width: 800px) {
      .breadcrumbs__item {
        font-size: 15px;
        line-height: 20px;
        letter-spacing: -0.9px;
        margin-right: 6px; }
        .breadcrumbs__item:after {
          margin-left: 10px; }
        .breadcrumbs__item:last-of-type {
          letter-spacing: 0; } }

.catalog {
  padding-top: 12px;
  background: white; }
  .catalog .heading-1 {
    margin-bottom: 29px; }

.catalog__filters {
  background: #F4F8FA;
  margin: 0 -20px;
  padding: 32px 20px 15px; }
  .catalog__filters__row {
    display: flex;
    flex-wrap: wrap; }
  .catalog__filters__actions {
    display: flex;
    flex-wrap: wrap;
    padding-top: 4px; }
    .catalog__filters__actions .link {
      margin-bottom: 24px;
      display: flex;
      align-items: center; }
      .catalog__filters__actions .link[aria-expanded='true'] .show-text {
        display: none; }
      .catalog__filters__actions .link[aria-expanded='true'] .hide-text {
        display: inline; }
      .catalog__filters__actions .link[aria-expanded='true'] svg {
        transform: scale(1, -1);
        margin-top: 4px; }
      .catalog__filters__actions .link[aria-expanded='false'] .show-text {
        display: inline; }
      .catalog__filters__actions .link[aria-expanded='false'] .hide-text {
        display: none; }
      .catalog__filters__actions .link svg {
        margin-left: 4px; }
      .catalog__filters__actions .link:hover svg path {
        fill: #FF6F00; }
    .catalog__filters__actions .simple-btn {
      height: 50px;
      width: 100%;
      line-height: 46px;
      margin-bottom: 23px; }
      .catalog__filters__actions .simple-btn img {
        margin-top: -3px; }
  .catalog__filters .link.w-icon {
    display: inline-flex;
    align-items: center;
    margin-left: -5px; }
    .catalog__filters .link.w-icon .icon {
      width: 15.9px;
      height: 16px;
      margin-right: 13px; }
  .catalog__filters .form-select {
    width: 100%;
    height: 50px; }
  .catalog__filters__tabs {
    display: flex;
    align-items: flex-start;
    margin: 0 -20px;
    padding: 0 20px;
    overflow-y: scroll;
    max-width: calc(100% + 40px);
    -ms-overflow-style: none; }
    .catalog__filters__tabs::-webkit-scrollbar {
      display: none; }
    .catalog__filters__tabs .item {
      display: inline-flex;
      margin-right: 10px;
      font-size: 13px;
      line-height: 46px;
      font-weight: bold;
      color: rgba(95, 95, 95, 0.91);
      white-space: nowrap;
      border: 2px solid #F4F8FA;
      box-sizing: border-box;
      border-radius: 4px 4px 0px 0px;
      padding: 3px 33px 0;
      word-spacing: 2.1px;
      letter-spacing: 0.2px; }
      .catalog__filters__tabs .item img {
        margin-right: 10px; }
      .catalog__filters__tabs .item.--active {
        background: #F4F8FA; }
      .catalog__filters__tabs .item:last-of-type {
        margin-right: 0; }
