.footer {
  background: #474747;
  padding-top: 40px;

  .desktop-block {
    display: none;
    @media (min-width: 1200px) {
      display: flex;
      justify-content: space-between;
      .desktop-block__item {
        width: 190px;
        margin-right: 40px;

        &:nth-of-type(3) {
          margin-right: 40px;
          width: 195px;
        }

        &:last-of-type {
          margin-right: 6px;
          width: 140px;
        }

        a {
          display: block;
          font-weight: normal;
          font-size: 16px;
          line-height: 24px;
          color: white;
          opacity: .5;
          transition: all .2s;
          margin-bottom: 13px;
          letter-spacing: 0px;

          &:hover {
            text-decoration: none;
            opacity: 1;
          }
        }
      }
    }
  }

  .mobile-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    @media(max-width: 799px) {
      max-width: 270px;
      margin: 0 auto;
    }
  }

  &__title {
    width: 100%;
    font-weight: bold;
    font-size: 15px;
    line-height: 26px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: white;
    text-align: center;
    margin-bottom: 20px;
  }

  &__geo {
    display: flex;
    color: white;
    width: 225px;
    margin-bottom: 20px;

    .icon {
      margin-right: 10px;

      img {
        margin-top: -7px;
      }
    }

    .main {
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;

      .schedule {
        font-weight: normal;
        font-size: 13px;
        line-height: 18px;
        opacity: .5;
      }
    }
  }

  &__phone {
    display: block;
    width: 225px;
    color: white;
    transition: all .2s;
    margin-bottom: 25px;

    .icon img {
      margin-top: -6px;
      margin-right: 7px;
    }

    &:hover {
      text-decoration: none;
      color: $primary;
    }
  }

  &__actions {
    .simple-btn {
      height: 50px;
      line-height: 1.4;
      margin-bottom: 25px;
    }

    .arrow-btn {
      margin-bottom: 25px;

      .text {
        color: white;
      }

      &:hover {
        .text {
          color: $primary;
        }
      }
    }
  }

  &__socials {
    width: 224px;
    padding-bottom: 40px;
  }

  .copyrights-block {
    background: #5F5F5F;
  }

  .copyrights-row {
    padding-top: 20px;
    padding-bottom: 30px;

    .logos {
      text-align: center;
      margin-bottom: 20px;

      img:first-of-type {
        margin-right: 30px;
      }
    }

    .copyright {
      font-weight: normal;
      font-size: 14px;
      line-height: 22px;
      letter-spacing: .2px;
      margin-bottom: 20px;
      text-align: center;

      p {
        color: white;
        opacity: .8;
        margin-bottom: 0;
      }

      a {
        color: white;
        opacity: .8;
        transition: all .2s;

        &:hover {
          opacity: 1;
          color: $primary;
        }
      }
    }

    .created {
      font-size: 14px;
      line-height: 22px;
      letter-spacing: .2px;
      color: white;
      opacity: .8;
      text-align: center;

      img {
        margin-left: 15px;
      }
    }

    @media (min-width: 800px) {
      padding-top: 18px;
      .logos {
        text-align: left;

        img:first-of-type {
          margin-left: 3px;
          margin-right: 26px;
        }
      }
      .copyright {
        text-align: left;
        padding: 0 18px;
      }
      .created {
        text-align: left;
        white-space: nowrap;

        a {
          display: block;
        }

        img {
          margin-left: 0;
        }
      }
    }
    @media(min-width: 1200px) {
      padding-top: 16px;
      padding-bottom: 2px;
      .logos {
        margin-left: -15px;

        img:first-of-type {
          margin-left: 0;
          margin-right: 26px;
        }
      }
      .copyright {
        p {
          padding-top: 12px;
          padding-left: 17px;
          letter-spacing: 0.3px;
        }

        a {
          margin-left: 15px;
        }
      }
      .created {
        padding-top: 10px;

        a {
          display: inline-block;
          margin-left: 13px;
        }
      }
    }
  }

  @media (min-width: 800px) {
    padding-top: 51px;
    .mobile-block {
      padding: 0 12px;
      justify-content: space-between;
    }
    .footer__title {
      text-align: left;
      letter-spacing: 1.2px;
    }
    .footer__geo {
      width: 50%;
      order: 0;
      margin-bottom: 46px;

      .text {
        letter-spacing: 0.2px;
      }

      .schedule {
        margin-top: 10px;
        font-size: 14px;
        line-height: 20px;
        padding-left: 2px;
        letter-spacing: 0.1px;
      }
    }
    .footer__phone {
      width: 340px;
      order: 1;
    }
    .footer__actions {
      width: 340px;
      order: 4;
      margin-top: -76px;
    }
    .footer__socials {
      order: 3;
      width: 230px;
      padding-bottom: 50px;
    }
  }
  @media(min-width: 1200px) {
    padding-top: 80px;
    .mobile-block {
      padding: 0 15px;
    }
    .footer__title {
      margin-bottom: 25px;
    }
    .footer__geo {
      order: 1;
      width: 100%;
      margin-bottom: 26px;
    }
    .footer__phone {
      order: 2;
      width: 100%;
      margin-bottom: 20px;
    }
    .footer__actions {
      margin-top: 0;
      order: 3;
      width: 100%;
      margin-bottom: 17px;
    }
    .footer__socials {
      order: 4;
      width: 230px;
    }

  }
}