.form-input {
  margin-bottom: 23px;
  position: relative;

  label {
    position: absolute;
    color: $gray;
    font-weight: normal;
    font-size: 15px;
    line-height: 50px;
    left: 20px;
    margin-bottom: 0;
    transition: all .2s;

    &.up {
      padding: 0 10px;
      font-size: 14px;
      line-height: 24px;
      color: rgba(95, 95, 95, 0.7);
      top: -13px;
      left: 10px;
      background: white;
      letter-spacing: -0.1px;
    }
  }

  input {
    width: 100%;
    padding-left: 20px;
    background: white;
    height: 50px;
    border: 1px solid rgba(95, 95, 95, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
  }

  .icon {
    width: 24px;
    height: 24px;
    display: none;
    position: absolute;
    right: 16px;
    bottom: 16px;

    img {
      width: 100%;
    }
  }

  &.--success {
    .icon.done {
      display: block;
    }
  }

  input[type='password'] + .reveal-input-icon {
    display: block;
  }

  &.revealed .password-input-icon {
    display: block;
  }
}

.form-checkbox {
  input {
    display: none;

    &:checked + label {
      &:after {
        opacity: 1;
      }
    }
  }

  label {
    display: inline-flex;
    align-items: center;
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 0;
    color: $gray;

    &:before {
      display: inline-block;
      content: '';
      width: 22px;
      height: 22px;
      background: #FFFFFF;
      border: 1px solid rgba(95, 95, 95, 0.2);
      box-sizing: border-box;
      border-radius: 4px;
      margin-right: 12px;
    }

    &:after {
      position: absolute;
      content: '';
      background: url("../assets/icons/tick.svg");
      background-size: cover;
      width: 13px;
      height: 10px;
      left: 20px;
      top: 6px;
      opacity: 0;
      transition: all .2s;
    }
  }
}