.form-input {
  margin-bottom: 23px;
  position: relative;

  label {
    position: absolute;
    color: $gray;
    font-weight: normal;
    font-size: 15px;
    line-height: 50px;
    left: 20px;
    margin-bottom: 0;
    transition: all .2s;

    &.up {
      padding: 0 10px;
      font-size: 14px;
      line-height: 24px;
      color: rgba(95, 95, 95, 0.7);
      top: -13px;
      left: 10px;
      background: white;
      letter-spacing: -0.1px;
    }
  }

  input {
    width: 100%;
    padding-left: 20px;
    background: white;
    height: 50px;
    border: 1px solid rgba(95, 95, 95, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    transition: all .2s;

    &:focus {
      border-color: rgba(95, 95, 95, 0.6);
    }
  }

  .icon {
    width: 24px;
    height: 24px;
    display: none;
    position: absolute;
    right: 16px;
    bottom: 16px;

    img {
      width: 100%;
    }
  }

  &.--success {
    .icon.done {
      display: block;
    }
  }

  input[type='password'] + .reveal-input-icon {
    display: block;
  }

  &.revealed .password-input-icon {
    display: block;
  }
}

.form-checkbox {
  input {
    display: none;

    &:checked + label {
      &:after {
        opacity: 1;
      }
    }
  }

  label {
    display: inline-flex;
    align-items: center;
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 0;
    color: $gray;

    &:before {
      display: inline-block;
      content: '';
      width: 22px;
      height: 22px;
      background: #FFFFFF;
      border: 1px solid rgba(95, 95, 95, 0.2);
      box-sizing: border-box;
      border-radius: 4px;
      margin-right: 12px;
    }

    &:after {
      position: absolute;
      content: '';
      background: url("../assets/icons/tick.svg");
      background-size: cover;
      width: 13px;
      height: 10px;
      left: 20px;
      top: 6px;
      opacity: 0;
      transition: all .2s;
    }
  }
}

.form-verify {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 23px;

  input {
    width: 135px;
    margin-right: 15px;
    margin-bottom: 0;
  }

  .form-input {
    margin-bottom: 13px;
  }

  .button {
    &:disabled {
      opacity: .15;
    }

    height: 50px;
    width: 162px;
    text-transform: uppercase;
    border-radius: 3px;
    transition: all .2s;
    opacity: 1;
    border: 0;
    padding: 0;
    color: white;
    text-align: center;
    background: #5F5F5F;
    font-weight: bold;
    font-size: 13px;
    line-height: 50px;
    letter-spacing: 0.03em;

    &:hover {
      background: #414141;
    }

    &:active {
      outline: none;
      background: #353535;
    }
  }

  .time-counter {
    margin-bottom: 10px;
  }
}

.form-select {
  display: block;
  margin-bottom: 15px;

  &.groupped {
    display: flex;

    .select {
      width: 50%;
    }

    .select:first-of-type {

      border-radius: 4px 0 0 4px;

      &.open {
        border-radius: 4px 0 0 0;
      }
    }

    .select:last-of-type {

      border-radius: 0 4px 4px 0;

      &.open {
        border-radius: 0 4px 0 0;
      }
    }
  }

  .select {
    width: 100%;
    border: 1px solid rgba(95, 95, 95, 0.2);
    padding-left: 20px;
    font-size: 15px;
    line-height: 50px;
    height: 50px;
    border-radius: 4px;

    &:after {
      content: '';
      background: url("../assets/icons/chevron_down.svg");
      background-size: cover;
      border: 0;
      width: 24px;
      height: 24px;
      transform: rotate(0);
      right: 9px;
      margin-top: -12px;
      transition: all 0s;
    }

    &.open {
      border: 1px solid rgba(95, 95, 95, 0.6);
      border-radius: 4px 4px 0 0;
      .current{
        color: $gray;
        opacity: .8;
      }
      &:after{
        transform-origin: center;
        transform: rotate(180deg);
      }
    }

    .list {
      width: calc(100% + 2px);
      left: -1px;
      border-radius:0 0 4px 4px ;
      margin-top: 1px;
      max-height: 240px;
      overflow-y: scroll;
      box-shadow: 0px 10px 35px rgba(0, 0, 0, 0.1);

      .option {
        padding-left: 20px;

        &.selected {
          font-weight: normal;
          background: $secondary;
        }

        &:hover {
          background: $secondary;
        }
      }
      &::-webkit-scrollbar {
        width: 3px;
      }
      &::-webkit-scrollbar-thumb {
        background-color: rgba(95, 95, 95, 0.6);
        width: 3px;
      }
    }
  }
}