.form-input {
  margin-bottom: 23px;
  position: relative;

  label {
    position: absolute;
    color: $gray;
    font-weight: normal;
    font-size: 15px;
    line-height: 50px;
    left: 20px;
    margin-bottom: 0;
    transition: all .2s;

    .label-text {
      display: block;
    }

    .error-text {
      display: none;
    }
  }

  input {
    width: 100%;
    padding-left: 20px;
    background: white;
    height: 50px;
    border: 1px solid rgba(95, 95, 95, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    transition: all .2s;
    -webkit-appearance: none;

    &::placeholder {
      opacity: 0;
    }

    &:focus {
      border-color: rgba(95, 95, 95, 0.6);
    }
  }

  .icon {
    width: 24px;
    height: 24px;
    display: none;
    position: absolute;
    right: 16px;
    bottom: 13px;
    z-index: 5;

    img {
      width: 100%;
    }
  }

  &.focus {
    label {
      padding: 0 10px;
      font-size: 14px;
      line-height: 24px;
      color: rgba(95, 95, 95, 0.7);
      top: -13px;
      left: 10px;
      background: white;
      letter-spacing: -0.1px;

    }
  }

  &:after {
    content: url("../assets/icons/tick--success.svg");
    position: absolute;
    bottom: 8px;
    right: 13px;
    opacity: 0;
    transition: all .2s;
    z-index: 1;
  }

  &:not(.password).--success:after {
    opacity: 1;
  }

  input[type='password'] + .reveal-input-icon {
    display: block;
  }

  &.revealed .password-input-icon {
    display: block;
  }

  &.phone {
    &.focus:before, &.error:before {
      content: '+7 |';
      position: absolute;
      top: 0;
      letter-spacing: 0.4px;
      left: 21px;
      font-size: 15px;
      line-height: 48px;
      color: $gray;
    }

    input {
      padding-left: 50px;
    }
  }

  &.error {
    input {
      border-color: $primary;
    }

    label {
      color: $primary;
      padding: 0 10px;
      font-size: 14px;
      line-height: 24px;
      top: -13px;
      left: 10px;
      background: white;
      letter-spacing: -0.1px;

      .label-text {
        display: none;
      }

      .error-text {
        display: block;
      }
    }

    .icon {
      svg path {
        fill: $primary;
      }
    }
  }
}

.form-textarea {
  margin-bottom: 23px;
  position: relative;

  label {
    color: $gray;
    font-weight: normal;
    font-size: 15px;
    line-height: 50px;
    margin-bottom: 0;
    transition: all .2s;
  }

  textarea {
    -webkit-appearance: none;
    width: 100%;
    padding-left: 20px;
    padding-top: 18px;
    background: white;
    height: 50px;
    border: 1px solid rgba(95, 95, 95, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    transition: all .2s;
    min-height: 170px;

    &:focus {
      outline: none;
      border-color: rgba(95, 95, 95, 0.6);
    }
  }

  &.error {
    textarea {
      border-color: $primary;
    }
  }
}

.form-checkbox {
  input {
    display: none;

    &:checked + label {
      &:after {
        opacity: 1;
      }
    }
  }

  label {
    display: inline-flex;
    align-items: center;
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 0;
    padding-left: 34px;
    color: $gray;
    position: relative;
    cursor: pointer;

    &:before {
      position: absolute;
      left: 0;
      top: 0;
      display: inline-block;
      content: '';
      width: 22px;
      height: 22px;
      background: #FFFFFF;
      border: 1px solid rgba(95, 95, 95, 0.2);
      box-sizing: border-box;
      border-radius: 4px;
      margin-right: 12px;
    }

    &:after {
      position: absolute;
      content: '';
      background: url("../assets/icons/tick.svg");
      background-size: cover;
      width: 13px;
      height: 10px;
      left: 4px;
      top: 6px;
      opacity: 0;
      transition: all .2s;
    }
  }
}

.form-verify {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 23px;

  input {
    width: 135px;
    margin-right: 15px;
    margin-bottom: 0;
  }

  .form-input {
    margin-bottom: 13px;

    &:after {
      right: 25px;
    }
  }

  .button {
    &:disabled {
      opacity: .15;
    }

    height: 50px;
    width: 162px;
    text-transform: uppercase;
    border-radius: 3px;
    transition: all .2s;
    opacity: 1;
    border: 0;
    padding: 0;
    color: white;
    text-align: center;
    background: #5F5F5F;
    font-weight: bold;
    font-size: 13px;
    line-height: 50px;
    letter-spacing: 0.03em;

    &:hover {
      background: #414141;
    }

    &:active {
      outline: none;
      background: #353535;
    }
  }

  .time-counter {
    margin-bottom: 10px;
  }
}

.form-select {
  display: block;
  margin-bottom: 15px;

  &.groupped {
    display: flex;

    .select2-container {
      width: 50% !important;
    }

    .select2 {
      &:nth-of-type(1).select2-container--default .select2-selection--single .select2-selection__rendered {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }

      &:nth-of-type(2).select2-container--default .select2-selection--single .select2-selection__rendered {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
  }
}

.form-select-birthday {
  margin-bottom: 15px;
  display: flex;
  position: relative;

  label {
    position: absolute;
    font-weight: normal;
    margin-bottom: 0;
    padding: 0 10px;
    font-size: 14px;
    line-height: 24px;
    color: rgba(95, 95, 95, 0.7);
    top: -13px;
    left: 10px;
    background: white;
    letter-spacing: -0.1px;
    z-index: 10;
  }


  .day, .year {
    width: 28%;
  }

  .day {
    .select2-container--default .select2-selection--single .select2-selection__rendered {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-right: 0;
    }
  }

  .month {
    flex-grow: 1;

    .select2-container--default .select2-selection--single .select2-selection__rendered {
      border-radius: 0;
    }
  }

  .year {
    .select2-container--default .select2-selection--single .select2-selection__rendered {
      border-left: 0;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}

.form-select-gender {
  .label {
    color: $gray;
    font-size: 15px;
    line-height: 20px;
  }

  input {
    display: none;

    &:checked + label {
      background: $secondary;

      &:after {
        opacity: 1;
      }
    }
  }

  label {
    width: 132px;
    height: 50px;
    position: relative;
    padding-left: 40px;
    display: flex;
    align-items: center;
    transition: all .2s;
    cursor: pointer;

    &:before {
      position: absolute;
      content: '';
      width: 18px;
      height: 18px;
      background: #FFFFFF;
      border: 1px solid rgba(95, 95, 95, 0.2);
      border-radius: 100%;
      top: 0;
      bottom: 0;
      margin: auto;
      left: 12px;
    }

    &:after {
      content: '';
      position: absolute;
      transition: all .2s;
      background: $primary;
      border-radius: 100%;
      width: 10px;
      height: 10px;
      left: 16px;
      top: 0;
      bottom: 0;
      opacity: 0;
      margin: auto;
    }
  }

}

.form-radio-tags {

  .tags {
    display: flex;
    justify-content: flex-start;
  }

  .radio-tag {

    label {
      background: #FFFFFF;
      border: 1px solid rgba(95, 95, 95, 0.2);
      padding: 0 20px;
      margin-bottom: 0;
      color: $gray;
      font-size: 15px;
      line-height: 48px;
      transition: all .2s;
      letter-spacing: -0.5px;
      white-space: nowrap;
      cursor: pointer;
    }

    input {
      display: none;

      &:checked + label {
        background: $gray;
        color: white;
        border-color: $gray;
      }
    }

    &:first-of-type label {
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
    }

    &:last-of-type label {
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
    }
  }
}

.form-toggle {
  margin-bottom: 13px;

  input {
    display: none;

    &:checked + label {
      &:before {
        background: $primary;
      }

      &:after {
        transform: translateX(15px);
      }
    }
  }

  label {
    position: relative;
    padding-left: 50px;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 0;
    cursor: pointer;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      width: 36px;
      height: 20px;
      background: #D2D2D7;
      border-radius: 16px;
      top: 1px;
      transition: all .2s;
    }

    &:after {
      content: '';
      position: absolute;
      background: white;
      width: 16px;
      height: 16px;
      top: 3px;
      left: 3px;
      border-radius: 100%;
      transition: all .2s;
    }
  }
}