body {
  padding-top: 70px;
  background: $secondary;
  @media(min-width: 1200px) {
    padding-top: 139px;
  }

  &.mobile-menu-opened {
    overflow: hidden;
  }
}

.header {
  position: fixed;
  z-index: 100;
  top: 0;
  width: 100%;


  .mobile {
    display: flex;
    background: $primary;
    align-items: center;
    justify-content: space-between;
    padding-left: 5px;
    height: 70px;
    @media (min-width: 1200px) {
      display: none;
    }

    .header__phone {
      margin-left: auto;
      display: block;
      color: white;
      font-style: normal;
      font-weight: normal;
      font-size: 15px;
      line-height: 20px;
      letter-spacing: .4px;

      span {
        font-weight: bold;
      }

      @media (min-width: 800px) {
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 0;
      }
    }

    .menu-btn {
      margin-left: -5px;
    }
  }

  .tablet-btns {
    display: none;

    a {
      text-align: center;
      display: inline-block;

      &:first-of-type {
        margin-left: 10px;
        width: 48px;
      }

      &:last-of-type {
        width: 49px;
        margin-right: -11px;
      }
    }

    @media(min-width: 800px) and (max-width: 1200px) {
      display: block;
    }
  }

  .desktop {
    display: none;
    @media (min-width: 1200px) {
      display: block;
    }

    .first-row {
      background: $gray;
      font-size: 15px;
      line-height: 38px;
      color: white;

      .desktop__logo-block {
        position: relative;
      }

      .desktop__logo {
        background: white;
        position: absolute;
        border-radius: 0 0 3px 3px;
        left: 15px;
        top: 0;
        width: 170px;
        height: 125px;
        padding-left: 29px;
        padding-top: 32px;
        transition: all .2s;
        box-shadow: 0px 5px 15px rgba(95, 95, 95, 0.05);
        z-index: 90;
        svg {
          width: 121px;
          transition: all .2s;
        }
      }


      .address {
        display: inline-block;
        padding: 0 23px;
      }

      .call-back {
        color: white;
        display: inline-block;
        padding: 0 24px;
        background: $primary;
        transition: all .2s;

        &:hover {
          text-decoration: none;
          background: #FF5C00;
        }

        &:active {
          background: #FF5200;
        }
      }
    }

    .second-row {
      padding-top: 24px;
      box-shadow: 0px 5px 15px rgba(95, 95, 95, 0.0);
      transition: all .2s;

      .popup-link {
        cursor: pointer;
        margin-right: 26px;
        color: $black;
        font-weight: bold;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        display: inline-flex;
        align-items: center;
        margin-top: 16px;
        transition: all .2s;

        img {
          margin-left: 5px;
        }

        &:hover {
          text-decoration: none;
          color: $primary;
        }

        &:first-of-type {
          margin-left: 24px;
        }

        &:last-of-type {
          margin-right: 0;
        }
      }

      .phone-block {
        margin-top: -2px;
        display: inline-block;
        text-align: right;
        padding-top: 13px;

        .tel {
          display: block;
          font-weight: bold;
          font-size: 20px;
          line-height: 20px;
          text-align: right;
          letter-spacing: 0.02em;
          transition: all .2s;
          margin-bottom: 4px;
          margin-top: 2px;
          color: $black;

          &:hover {
            text-decoration: none;
            color: $primary;
          }
        }

        .link {
          display: block;
          color: $primary;
          font-size: 15px;
          line-height: 18px;
          letter-spacing: -0.3px;
          &:hover {
            text-decoration: none;
            color: #FF5C00;
          }
        }
      }

      .user-block {
        display: inline-block;
        margin-top: -15px;
        margin-left: 18px;

        a {
          display: flex;
          align-items: center;
          color: $black;
          transition: all .2s;
          font-weight: bold;
          text-transform: uppercase;
          font-size: 14px;
          line-height: 17px;
          cursor: pointer;

          svg path {
            transition: all .2s;
          }

          .text {
            display: inline-block;
            margin-top: -3px;
            letter-spacing: .5px;
          }

          &:hover {
            color: $primary;
            text-decoration: none;

            svg path {
              stroke: $primary
            }
          }
        }
      }

    }

    &.--highlighten {
      background: white;

      .first-row {
        height: 0;

        .ml-auto {
          display: none;
        }
      }

      .desktop__logo {
        height: 85px;
        padding-top: 14px;
        padding-left: 39px;
        border-radius: 0;

        .text {
          opacity: 0;
        }

        svg {
          width: 100px;
        }
      }

      .second-row {
        padding-top: 13px;
        padding-bottom: 14px;
        background: $secondary;
        box-shadow: 0px 5px 20px rgba(95, 95, 95, 0.15);
        //pb
        //padding-bottom: 20px;
      }
    }
  }
}

.menu-btn {
  width: 50px;
  height: 50px;
  border: 0;
  background: transparent;
  padding: 0;
  margin-right: 19px;
  cursor: pointer;
  transition: all .2s;

  &:hover {
    opacity: .8;
  }
}

.header__logo {
  display: block;
  margin-top: -10px;
  @media (min-width: 800px) {
    margin-top: -5px;
  }
}

.mobile__menu {
  position: fixed;
  z-index: 150;
  height: 100%;
  overflow: hidden;
  left: 0;
  top: 0;
  width: 0;

  &__bg {
    width: 100%;
    height: 100%;
    position: absolute;
  }

  &.--open {
    width: 100%;

    .inner-block {
      transform: translateX(0);
    }
  }

  &.--closing {
    width: 100%;

    .inner-block {
      transform: translateX(-100%);
    }
  }

  .head {
    display: flex;
    align-items: center;
    min-height: 70px;
    padding-left: 27px;

    .header__logo {
      margin-top: -12px;
    }

    .menu-btn {
      margin-right: 20px;
    }
  }

  .inner-block {
    transition: all .2s;
    overflow: scroll;
    transform: translateX(-100%);
    width: 320px;
    background: #474747;
    height: 100%;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .level {
    display: flex;
    flex-direction: column;
    min-height: calc(100% - 70px);

    &.second .link-item {
      font-size: 15px;
    }
  }

  .lighten {
    background: $gray;

    .link-item:last-of-type:after {
      opacity: 0;
    }
  }

  .link-item {
    display: flex;
    position: relative;
    padding: 0 37px;
    height: 50px;
    font-weight: normal;
    font-size: 16px;
    line-height: 50px;
    align-items: center;
    justify-content: space-between;
    background: rgba(255, 255, 255, 0);
    transition: all .2s;
    color: white;

    &.back {
      justify-content: flex-start;

      img {
        margin-left: -10px;
      }
    }

    &:after {
      position: absolute;
      content: '';
      width: calc(100% - 72px);
      background: rgba(255, 255, 255, .1);
      bottom: 0;
      left: 0;
      right: 0;
      height: 1px;
      margin: auto;
    }

    &:hover {
      text-decoration: none;
      background: rgba(255, 255, 255, .2);
    }
  }

  .contacts-block {
    margin-top: auto;
    padding: 0 37px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .simple-btn {
      margin-top: 25px;
      margin-bottom: 25px;
    }

    .footer__geo {
      margin-bottom: 20px;
    }

    .footer__phone {
      margin-bottom: 25px;
    }

    .socials-links {
      width: 100%;
    }
  }
}

.header-menu-popover {
  border: 0;

  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);

  .popover-body {
    padding: 0;
  }

  a {
    display: block;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 45px;
    color: #5F5F5F;
    padding-left: 20px;
    padding-right: 20px;
    min-width: 200px;
    border-bottom: 1px solid rgba(95, 95, 95, 0.08);
    transition: all .2s;

    &:last-of-type {
      border: 0;
    }

    &:hover {
      text-decoration: none;
      background: #F4F8FA;
    }
  }
}