.online-sale {
  padding-top: 13px;
  padding-bottom: 39px;
  background: white;
  overflow: hidden;

  .breadcrumbs {
    margin-bottom: 15px;
  }

  @media(min-width: 800px) {
    padding-top: 15px;
    padding-bottom: 61px;
    position: relative;
    &:before {
      content: '';
      position: absolute;
      z-index: 2;
      right: 0;
      top: 110px;
      border-top-left-radius: 25px;
      background: $secondary;
      height: 210px;
      width: calc(50% - 140px);
    }
    .common-text {
      letter-spacing: -0.1px;
    }
    .breadcrumbs {
      margin-bottom: 13px;
    }
  }
  @media(min-width: 1200px) {
    padding-top: 26px;
    padding-bottom: 150px;
    .breadcrumbs {
      margin-bottom: 34px;
    }
    &:before {
      top: 121px;
      z-index: 1;
      width: calc(50% - 310px);
    }
  }

  .promo-row {
    padding-bottom: 35px;

    .heading-1 {

      font-size: 32px;
      line-height: 42px;
      margin-bottom: 20px;


      @media(min-width: 800px) {
        margin-bottom: 31px;
        &:after {
          margin-top: 17px;
        }
      }
      @media(min-width: 1200px) {
        margin-bottom: 50px;
        font-size: 38px;
        line-height: 48px;
      }
    }

    .common-text {
      letter-spacing: -0.5px;
      line-height: 22px;
      margin-bottom: 20px;
      @media(min-width: 800px) {
        font-size: 15px;
        line-height: 147%;
        padding-right: 6px;
        letter-spacing: .1px;
        margin-bottom: 30px;
      }
      @media(min-width: 1200px) {
        font-size: 18px;
        line-height: 26px;
        letter-spacing: 0px;
      }
    }

    .simple-btn {
      margin-left: -5px;
      margin-bottom: 40px;
    }

    .benefit-item {
      display: flex;
      align-items: flex-start;
      margin-bottom: 15px;

      .icon {
        margin-right: 10px;

        img {
          width: 40px;
          height: 40px;
        }
      }

      .common-text {
        margin-bottom: 0;
        letter-spacing: -0.6px;
      }

    }

    @media(min-width: 800px) {
      position: relative;
      padding-bottom: 50px;
      &:after {
        content: '';
        position: absolute;
        width: 427px;
        height: 208px;
        background: url('../assets/landing-promo-decor-2.svg');
        background-repeat: repeat-x;
        background-position-x: 13px;
        top: 2px;
        z-index: 1;
        right: -92px;
      }
      .promo-img {
        position: relative;
        z-index: 5;
        height: 227px;
        margin-top: 27px;
        margin-left: 47px;
      }
      .simple-btn {
        margin-left: -3px;
      }
      .benefit-item {
        margin-bottom: 30px;

        .common-text {

          letter-spacing: -.2px;
        }
      }
    }

    @media(min-width: 1200px) {
      &:after {
        top: 17px;
        right: 31px;
        z-index: 2;
      }
      .promo-img {
        height: 376.67px;
        margin-top: -13.7px;
        margin-left: 29.7px;
      }
      .simple-btn {
        margin-left: -5px;
        letter-spacing: .45px;
        margin-bottom: 80px;
      }
      .benefit-item {
        display: block;

        .icon img {
          width: 50px;
          height: 50px;
          margin-bottom: 15px;
          margin-right: 0;
        }

        .common-text {
          font-size: 16px;
          line-height: 22px;
          padding-right: 20px;
        }
      }
    }
  }

  .how-to {
    padding: 50px 20px 14px;
    background: $secondary;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;

    .title {
      font-weight: 800;
      font-size: 26px;
      line-height: 34px;
      letter-spacing: -1px;
      margin-bottom: 19px;

      &:after {
        margin-top: 21px;
      }
    }

    .common-text {
      margin-bottom: 30px;
    }

    &__row {

    }

    &__item {
      margin-bottom: 45px;

      .icon {
        height: 60px;
        margin-left: -5px;
        margin-bottom: 15px;

        img {
          max-height: 100%;
        }
      }

      .common-text {
        line-height: 21px;
        letter-spacing: -.3px;
        margin-bottom: 11px;
      }

      .link {
        display: flex;
        align-items: center;
        font-size: 15px;
        line-height: 22px;
        letter-spacing: -.2px;

        svg {
          margin-left: 5px;
        }
      }
    }

    @media(min-width: 800px) {
      padding: 50px 30px 6px;
      .title {
        letter-spacing: -.8px;
        margin-bottom: 25px;

        &:after {
          margin-top: 20px;
        }
      }
      .common-text {
        letter-spacing: -.4px;
        margin-bottom: 38px;
      }
      &__row {
        display: flex;
        align-items: flex-start;
      }
      &__item {
        width: 298px;

        .icon {
          margin-bottom: 20px;
        }

        .common-text {
          letter-spacing: -.2px;
          margin-bottom: 12px;
        }

        &:first-of-type {
          position: relative;
          margin-right: 50px;

          &:after {
            content: '';
            position: absolute;
            top: 20px;
            right: 0;
            height: 20px;
            width: 27.3px;
            background: url("../assets/icons/arrow-right-primary.svg");
          }
        }
      }
    }
    @media(min-width: 1200px) {
      margin: 40px -46px 0;
      padding: 70px 46px 20px;
      position: relative;
      z-index: 2;
      .title {
        width: 420px;
        font-size: 30px;
        line-height: 40px;
        letter-spacing: -1px;
      }
      .common-text {
        font-weight: normal;
        font-size: 18px;
        line-height: 26px;
        letter-spacing: .1px;
      }

      &__item {
        margin-top: -10px;
        width: 264px;

        &:first-of-type {
          margin-right: 69px;

          &:after {
            top: 40px;
          }
        }

        .icon {
          height: 100px;
          margin-left: -9px;
          margin-bottom: 35px;
        }

        .common-text {
          font-size: 16px;
          line-height: 22px;
          letter-spacing: -.2px;
          margin-bottom: 10px;
        }
      }
      &__container {
        position: relative;

        &:after {
          content: '';
          position: absolute;
          width: 427px;
          height: 208px;
          background: url('../assets/landing-promo-decor-2.svg');
          background-repeat: repeat-x;
          background-position-x: 13px;
          bottom: -143px;
          z-index: 1;
          right: -135px;
        }
      }
    }
  }

  .pricing {
    padding-top: 50px;

    .title {
      font-weight: 800;
      font-size: 26px;
      line-height: 34px;
      letter-spacing: -.6px;
      margin-bottom: 30px;

      &:after {
        margin-top: 21px;
      }
    }

    &__list {
      display: block;

      &__title {
        font-weight: 600;
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 24px;
        letter-spacing: -0.6px;
      }

      &__item {
        display: flex;
        align-items: flex-end;
        font-size: 15px;
        line-height: 22px;
        margin-bottom: 15px;
        position: relative;
        color: $gray;

        .name {
          position: relative;
          z-index: 3;
          max-width: 244px;
          padding-right: 4px;
          display: contents;
        }

        .val {
          text-align: right;
          margin-left: auto;
          padding-left: 4px;
          white-space: nowrap;
        }

        .name, .val {
          position: relative;
          z-index: 3;
          background: white;
        }

        .dots {
          position: absolute;
          width: calc(100% - 10px);
          bottom: 5px;
          left: 5px;
          flex-grow: 1;
          border-bottom: 1px dashed rgba(95, 95, 95, 0.2);
        }
      }

    }

    &__requirements {
      background: $secondary;
      padding: 40px 20px 26px;
      margin-top: 25px;

      .title {
        color: $gray;
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 20px;

        &:after {
          margin-top: 21px;
        }
      }

      &__item {
        font-size: 15px;
        line-height: 22px;
        color: #5F5F5F;
        position: relative;
        padding-left: 32px;
        margin-bottom: 15px;
        padding-right: 16px;

        &:before {
          content: '';
          position: absolute;
          width: 22px;
          height: 22px;
          left: 0;
          top: 0;
          background: url("../assets/icons/plus-primary.svg");
        }
      }
    }

    @media(min-width: 800px) {
      padding-top: 80px;
      .title {
        margin-bottom: 35px;
      }
      &__list {
        &__title {
          margin-bottom: 30px;
        }

        &__item {
          .name, .val {
            letter-spacing: -.1px;
          }

          .name {
            width: auto;
            max-width: unset;
            display: inline-block;
          }

          .val {
            padding-right: 2px;
          }

          .dots {
            position: relative;
            width: auto;
            margin-top: -4px;
          }

        }
      }

      &__requirements {
        padding: 40px 30px 35px;

        .title {
          margin-bottom: 20px;
          letter-spacing: -0.5px;
        }

        &__item {
          padding-right: 0;
          letter-spacing: 0.4px;
        }
      }
    }
    @media(min-width: 1200px) {
      padding-top: 120px;
      .title {
        font-size: 30px;
        line-height: 40px;
        letter-spacing: -0.7px;
        margin-bottom: 45px;

        &:after {
          margin-top: 20px;
        }
      }

      &__list {
        padding-right: 30px;

        &__title {
          font-size: 20px;
          line-height: 26px;
          letter-spacing: -.7px;
        }

        &__item {
          margin-bottom: 20px;

          .name {
            letter-spacing: .4px;
            display: contents;
            max-width: 459px;
          }

          .dots {
            position: absolute;
            width: calc(100% - 10px);
            bottom: 5px;
            left: 5px;
            flex-grow: 1;
            border-bottom: 1px dashed rgba(95, 95, 95, 0.2);
          }
        }
      }

      &__requirements {
        margin-top: -37px;
        padding-bottom: 25px;
        .title {
          font-size: 16px;
          line-height: 24px;
          letter-spacing: -.5px;
          margin-bottom: 30px;
        }
        &__item{
          padding-right: 20px;
        }
      }
    }
  }
}