.heading-1 {
  font-family: 'Magistral', sans-serif;
  font-style: italic;
  font-weight: bold;
  font-size: 28px;
  line-height: 34px;
  color: $black;

  @media (min-width: 800px) {
    font-size: 32px;
    line-height: 42px;
  }
  @media (min-width: 1200px) {
    font-size: 38px;
    line-height: 48px;
  }
}

.heading-2 {
  font-weight: 800;
  font-size: 30px;
  line-height: 40px;
  color: $black;
}

.subheader {
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  color: $black;
}

.common-text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: $gray;
}

.link {
  font-size: 15px;
  line-height: 22px;
  text-align: right;
  color: #4087BE;
  transition: all .2s;

  svg {
    path {
      transition: all .2s;
    }
  }

  &:hover {
    text-decoration: none;
    color: $primary;

    svg path {
      fill: $primary
    }

  }

  &.w-icon {
    display: flex;
    align-items: center;

    .icon {
      margin-right: 10px;
      width: 30px;
      height: 30px;

      svg {
        width: 100%;

        path {
          transition: all .2s;
        }
      }
    }

    &:hover {
      svg path {
        fill: $primary
      }
    }
  }
}

.time-counter {
  font-weight: normal;
  font-size: 13px;
  line-height: 20px;
  color: $gray;

  a {
    color: #4087BE;
    border-bottom: 1px dashed #4087BE;
    transition: all .2s;

    &:hover {
      text-decoration: none;
      color: $primary;
      border-color: $primary;
    }
  }
}