.catalog {
  padding-top: 12px;
  background: white;
  overflow: hidden;
  padding-bottom: 40px;

  .heading-1 {
    margin-bottom: 29px;
  }

  .l2.--after-block {
    position: relative;
    padding-top: 50px;
    padding-bottom: 40px;

    &:after {
      content: '';
      position: absolute;
      width: 100%;
      background: $secondary;
      height: 260px;
      top: 170px;
    }

    .specs-slider {
      margin-bottom: 25px;
    }

    .arrow-btn {
      position: relative;
      z-index: 1;
    }

    @media(min-width: 800px) {
      padding-top: 60px;
      padding-bottom: 35px;
      &:after {
        height: 255px;
        top: 185px;
      }
    }
    @media(min-width: 1200px) {
      padding-top: 70px;
      padding-bottom: 41px;
      &:after {
        height: 218px;
        top: 238px;
      }
    }
  }

  &__row {
    overflow-x: hidden;

    .sort {
      display: flex;
      align-items: center;
      padding: 50px 20px 15px;
      margin: 0 -20px 1px;
      width: auto;
      overflow-y: scroll;
      -ms-overflow-style: none;
      font-weight: normal;
      font-size: 15px;
      line-height: 20px;
      color: $gray;

      &::-webkit-scrollbar {
        display: none;
      }

      .label {
        white-space: nowrap;
        margin-right: 15px;
        letter-spacing: -0.2px;
        @media(min-width: 800px) {
          margin-right: 20px;
        }
        @media (max-width: 799px) {
          display: none;
        }
      }

      .item {
        white-space: nowrap;
        display: flex;
        align-items: center;
        color: $link;
        transition: all .2s;
        margin-right: 15px;

        &:last-of-type {
          margin-right: 20px;
        }

        .icon {
          margin-left: 5px;

          svg path {
            transition: all .2s;
          }
        }

        &:hover {
          text-decoration: none;
          color: $primary;

          svg path {
            fill: $primary
          }
        }

        @media(min-width: 800px) {
          margin-right: 20px;
        }
      }

      @media (min-width: 800px) {
        padding: 50px 20px 24px;
      }
      @media (min-width: 1200px) {
        padding: 70px 20px 19px;
      }
    }

    .load-more {
      cursor: pointer;
      margin-top: 16px;
      margin-bottom: 30px;
      width: 100%;
      //height: 55px;
      padding: 0;
      border: 1px solid rgba(95, 95, 95, 0.2);
      background: white;
      box-sizing: border-box;
      border-radius: 3px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 15px;
      line-height: 53px;
      color: #5F5F5F;
      transition: all .2s;

      &:hover {
        background: $secondary;
      }

      .icon {
        margin-right: 12px;
        margin-left: -12px;
      }

      @media(min-width: 800px) {
        margin-top: 21px;
        margin-bottom: 39px;
      }
      @media (min-width: 1200px) {
        margin-top: 16px;
        margin-bottom: 70px;
      }
    }

    .pagination {
      margin: 0 -1px;
    }
  }

  @media(min-width: 800px) {
    padding-top: 18px;
    padding-bottom: 60px;
    .heading-1 {
      margin-bottom: 38px;
    }
    > .container {
      position: relative;

      > .row {
        z-index: 2;
        position: relative;
      }

      &:after {
        content: '';
        position: absolute;
        width: 407px;
        height: 201px;
        background: url('../assets/landing-promo-decor-2.svg');
        background-position-x: 13px;
        right: -226px;
        top: 38px;
        z-index: 0;
        @media(min-width: 1200px) {
          right: -117px;
          top: 85px;
        }
      }
    }
  }
  @media(min-width: 1200px) {
    padding-top: 26px;
    padding-bottom: 130px;
    .heading-1 {
      margin-bottom: 50px;
    }
  }
}

.catalog__filters {
  background: $secondary;
  margin: 0 -20px;
  padding: 32px 20px 16px;
  @media (min-width: 800px) {
    margin: 0;
    padding: 32px 24px 23px;

  }
  @media (min-width: 1200px) {
    margin: 0;
    padding: 40px 32px 22px 35px;

  }

  &__row {
    display: flex;
    flex-wrap: wrap;
    @media (min-width: 800px) {
      justify-content: space-between;
    }

    .collapse {
      &.collapsing {
        -webkit-transition: none;
        transition: none;
        display: none;
      }

      .catalog__filters__row {
        width: 100%;
      }
    }
  }

  &__actions {
    display: flex;
    flex-wrap: wrap;
    padding-top: 4px;
    justify-content: space-between;

    .link {
      margin-bottom: 24px;
      display: flex;
      align-items: center;

      &[aria-expanded='true'] {
        .show-text {
          display: none;
        }

        .hide-text {
          display: inline;
        }

        svg {
          transform: scale(1, -1);
          margin-top: 4px;
        }
      }

      &[aria-expanded='false'] {
        .show-text {
          display: inline;
        }

        .hide-text {
          display: none;
        }
      }

      svg {
        margin-left: 4px;
      }

      &:hover {
        svg path {
          fill: $primary;
        }
      }
    }

    .simple-btn {
      height: 50px;
      width: 100%;
      line-height: 46px;
      margin-bottom: 23px;

      img {
        margin-top: -3px;
      }
    }

    @media (min-width: 800px) {
      justify-content: flex-start;
      padding-top: 0;
      .link {
        margin-top: -9px;

        &:first-of-type {
          margin-right: 20px;
        }

        .d-md-inline {
          margin-left: 5px;
        }
      }

      .simple-btn {
        margin-left: auto;
        width: 280px;
        margin-right: calc(50% - 298px);
      }
    }
    @media (min-width: 1200px) {
      padding-top: 9px;
      .link {
        margin-top: 0;

        &:first-of-type {
          margin-right: 30px;
        }
      }
      .simple-btn {
        margin-right: calc(33.3% - 298px);
      }
    }
  }

  .link.w-icon {
    display: inline-flex;
    align-items: center;
    margin-left: -5px;

    .icon {
      width: 15.9px;
      height: 16px;
      margin-right: 13px;
    }
  }

  .form-select {
    width: 100%;
    height: 50px;
    @media(min-width: 800px) {
      width: calc(50% - 15px);
      margin-bottom: 19px;
    }
    @media(min-width: 1200px) {
      width: calc(33% - 15px);
      margin-bottom: 19px;
      .link {
        margin-left: auto;
        align-self: flex-start;

        .icon {
          margin-right: 7px;
        }
      }
    }
  }

  &__tabs {
    display: flex;
    align-items: flex-start;
    margin: 0 -20px;
    padding: 0 20px;
    overflow-y: scroll;
    max-width: calc(100% + 40px);
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
      display: none;
    }

    .item {
      display: flex;
      margin-right: 10px;
      font-size: 13px;
      line-height: 46px;
      font-weight: bold;
      color: rgba(95, 95, 95, 0.91);
      white-space: nowrap;
      border: 2px solid #F4F8FA;
      box-sizing: border-box;
      border-radius: 4px 4px 0px 0px;
      padding: 3px 33px 0;
      word-spacing: 2.1px;
      letter-spacing: 0.2px;

      img {
        margin-right: 10px;

      }

      &.--active {
        background: $secondary;
      }

      &:last-of-type {
        margin-right: 0;
      }
    }

    @media (min-width: 800px) {
      margin: 0;
      padding: 0;
      .link.w-icon {
        .icon {
          padding-top: 6px;
          margin-right: 1px;
        }

        padding-top: 7px;
        margin-right: 23px;
      }
    }
  }

}

.catalog__search {
  margin-top: 42px;
  margin-bottom: 40px;

  &__row {
    padding: 25px 36px 27px 30px;
    display: flex;
    align-items: center;
    border: 4px solid #FF6F00;
    position: relative;
    z-index: 2;
    background: white;
    @media(min-width: 1200px) {
      padding: 38px 46px 38px 47px;
    }
  }

  .text {
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    color: $black;
    margin-right: 31px;
    letter-spacing: -.6px;
    height: 30px;

    .skew {
      position: relative;
      font-family: 'Magistral', sans-serif;
      font-style: italic;
      font-weight: bold;
      font-size: 20px;
      line-height: 30px;
      color: white;
      padding: 0 11px 0 10px;
      margin-left: 0;
      margin-right: 7px;
      display: inline-block;
      top: -2px;

      .num {
        position: relative;
        z-index: 2;
      }

      &:before {
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        z-index: 1;
        border-radius: 4px;
        left: 2px;
        transform: skew(-12deg, 0deg);
        background: $primary;
      }
    }

    @media(min-width: 1200px) {

      font-size: 24px;
      line-height: 34px;
      margin-right: 35px;
      letter-spacing: 0;
      .skew {
        top: -1px;
        padding: 0 7px 0 9px;
        margin: 0 4px 0 0;
        font-size: 26px;
        line-height: 34px;
      }
    }
  }

  .form {
    flex: 1;
    position: relative;
    display: flex;

    .input {
      flex: 1;
      position: relative;

      input {
        width: 100%;
        background: #F4F8FA;
        border: 1px solid rgba(95, 95, 95, 0.2);
        box-sizing: border-box;
        border-radius: 4px;
        height: 55px;
        padding-left: 47px;
        font-size: 15px;
        line-height: 55px;
        color: #5F5F5F;
        transition: all .2s;
        @media(min-width: 1200px) {
          height: 56px;
          border-radius: 4px 0 0 4px;
        }

        &:focus {
          background: white;
          border-color: rgba(95, 95, 95, 0.6);
        }
      }

      .search-results {
        transition: height .2s;
        width: 100%;
        position: absolute;
        bottom: 0;
        transform: translateY(100%);
        height: 0;
        overflow: hidden;
        background: #FFFFFF;
        box-shadow: 0px 10px 35px rgba(0, 0, 0, 0.1);
        border-radius: 4px;
        font-size: 15px;
        line-height: 55px;
        color: $gray;
        padding-left: 47px;

        &.shown {
          height: auto;
          max-height: 500px;
        }
      }

      .clear {
        height: 100%;
        top: 0;
        right: 14px;
        position: absolute;
        display: flex;
        align-items: center;
        z-index: 3;
        opacity: 0;
        transition: all .2s;

        &.active {
          opacity: .5;

          &:hover {
            opacity: 1;
          }
        }
      }
    }

    .icon {
      position: absolute;
      left: 20px;
      top: 15px;
      z-index: 3;
    }

    .form-btn {
      display: none;
      @media (min-width: 1200px) {
        display: inline-block;
        width: 119px;
        height: 56px;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 13px;
        line-height: 55px;
        background: $primary;
        color: white;
        border: 0;
        border-radius: 0px 4px 4px 0px;
      }
    }
  }

  @media(min-width: 1200px) {
    margin-top: 60px;
    margin-bottom: 70px;
    .container {
      position: relative;

      &:after {
        content: '';
        position: absolute;
        width: 407px;
        height: 137px;
        background: url(../assets/landing-promo-decor-2.svg);
        background-position-x: 13px;
        left: -227px;
        top: 60px;
        z-index: 0;
      }
    }
  }
}

.catalog__links {
  position: relative;
  z-index: 2;
  display: none;
  @media(min-width: 800px) {
    display: block;
  }

  .links__row {
    height: 175px;
    width: calc(100% + 30px);
    margin: 0 -15px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: flex-start;
    @media (min-width: 1200px) {
      width: calc(100% + 70px);
      margin: 0 -35px;
    }
  }

  .link {
    width: 190px;
    height: 32px;
    margin-bottom: 3px;
    display: flex;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    padding: 0 15px;
    cursor: pointer;

    .name {
      color: $link;
    }

    .dots {
      flex: 1;
      margin: 15px 5px 0;
      border-top: 1px dashed #5F5F5F;
      opacity: .2;

    }

    .num {
      color: $gray;
      opacity: 0.8;
    }

    &:hover {
      text-decoration: none;

      .name {
        color: $primary;
      }


    }

    @media(min-width: 1200px) {
      width: 304px;
      padding: 0 35px;

    }
  }

  .tags__row {
    display: flex;
    align-items: flex-start;
    margin: 25px -40px 0;
    padding: 0 40px;
    max-width: calc(100% + 80px);
    overflow-y: hidden;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;

    &::-webkit-scrollbar {
      display: none;
    }

    .tag {
      label {
        padding: 0 22px;
        line-height: 33px;
      }

      margin-right: 15px;
    }
  }
}

.catalog__item {
  position: relative;
  border-bottom: 1px solid rgba(95, 95, 95, 0.2);
  padding-top: 15px;
  padding-bottom: 20px;
  margin-bottom: 0;
  min-height: 185px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;

  &:first-of-type {
    border-top: 1px solid rgba(95, 95, 95, 0.2);
  }

  .preview {
    background: #E9ECEE;
    width: 145px;
    height: 110px;
    position: absolute;
    top: 54px;

    img {
      max-width: 100%;
      width: 100%;
    }
  }

  .name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3px;
    order: 1;
    width: 100%;

    a {
      font-size: 18px;
      line-height: 24px;
      transition: all .2s;
      color: $black;
    }

    &:hover {
      a {
        text-decoration: none;
        color: $primary;
      }
    }

    .icon {
      display: inline-flex;
      cursor: pointer;

      svg path {
        transition: all .2s;
      }

      &:hover, &.--active {
        svg path {
          fill: $primary;
          opacity: 1;
        }
      }
    }
  }

  .run {
    order: 3;
    color: $gray;
    font-size: 14px;
    line-height: 20px;
    padding-left: 160px;
    margin-bottom: 2px;
  }

  .description {
    order: 4;
    padding-top: 3px;
    padding-left: 160px;
    display: flex;
    flex-wrap: wrap;

    .item {
      color: $gray;
      letter-spacing: 0.2px;
      font-size: 14px;
      line-height: 15px;
      margin-bottom: 5px;
      @media(max-width: 799px) {
        &:not(:last-of-type):after {
          content: ',';
          margin-right: 3px;
        }
      }
    }
  }

  .price {
    order: 2;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 160px;
    margin-bottom: 3px;
    padding-top: 11px;

    .main {
      font-size: 16px;
      line-height: 20px;
      color: $primary;
      word-spacing: 1px;
    }

    .old {
      font-size: 16px;
      line-height: 20px;
      color: $gray;
      text-decoration: line-through;
      margin-left: 12px;
    }

    .credit {
      letter-spacing: 0.2px;
      margin-left: 14px;
      text-align: right;
      font-size: 16px;
      line-height: 20px;
      color: $gray;
    }

    @media(max-width: 799px) {
      .old, .credit {
        display: none;
      }
    }
  }

  @media(min-width: 800px) {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    padding-left: 211px;
    min-height: auto;
    padding-bottom: 21px;
    margin-bottom: -5px;
    .preview {
      order: 0;
      left: 0;
      top: 20px;
      width: 188px;
      height: 140px;
    }
    .name {
      order: 1;
      justify-content: flex-start;
      margin-top: 15px;

      a {
        font-size: 20px;
        line-height: 24px;
        margin-right: 10px;
      }
    }
    .run {
      order: 3;
      padding-left: 0;
      width: 50%;
      margin-top: -27px;
    }
    .description {
      padding-top: 0;
      margin-top: 5px;
      padding-left: 0;
      order: 4;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      height: 55px;
      align-content: flex-start;

      .item {
        min-width: 122px;
        margin-right: 10px;
        line-height: 20px;
      }

    }
    .price {
      margin-top: -37px;
      margin-right: 9px;
      order: 2;
      margin-left: auto;
      text-align: right;
      display: block;

      .main {
        display: inline-block;
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 12px;
      }

      .old {
        display: inline-block;
        margin-left: 15px;
      }

      .credit {
        font-size: 16px;
        line-height: 24px;
      }
    }
  }
  @media(min-width: 1200px) {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    padding-left: 267px;
    padding-bottom: 0;
    height: 202px;
    margin-bottom: -1px;
    .preview {
      order: 0;
      top: 15px;
      width: 227.34px;
      height: 170px;
    }
    .name {
      margin-top: 21px;
      width: 43.4%;
      order: 1;

      .icon {
        margin-left: 3px;
      }
    }
    .run {
      order: 2;
      margin: 0;
      font-size: 16px;
      line-height: 20px;
      padding-top: 9px;
      width: auto;
    }
    .description {
      order: 3;
      height: 100%;
      width: 200px;
      padding-top: 20px;

      .item {
        font-size: 16px;
        line-height: 20px;
        margin-right: 0;
        margin-bottom: 13px;
      }
    }
    .price {
      order: 4;
      margin: 0;
      padding-top: 20px;
      padding-right: 11px;
      width: 33.9%;
      padding-left: 0;

      .main {
        margin-bottom: 10px;
      }
    }
  }
}


