.comission-sale {
  padding-top: 13px;
  padding-bottom: 39px;
  background: white;
  overflow: hidden;

  .breadcrumbs {
    margin-bottom: 15px;
  }

  .heading-1 {
    margin-bottom: 30px;
  }

  .common-text {
    font-size: 15px;
    line-height: 22px;
    letter-spacing: -.1px;
    margin-bottom: 30px;
  }

  @media(min-width: 800px) {
    padding-top: 15px;
    padding-bottom: 50px;
    position: relative;
    &:before {
      content: '';
      position: absolute;
      z-index: 10;
      right: 0;
      top: 110px;
      border-top-left-radius: 25px;
      background: $secondary;
      height: 210px;
      width: calc(50% - 140px);
    }
    .common-text {
      letter-spacing: -0.1px;

      font-size: 18px;
      line-height: 26px;
      width: 342px;
    }
    .breadcrumbs {
      margin-bottom: 13px;
    }
    &__promo {
      display: block;
      position: absolute;
      right: 0;
      top: 133px;

      &:before {
        content: '';
        position: absolute;
        width: 427px;
        height: 208px;
        background: url(../assets/landing-promo-decor-2.svg);
        background-repeat: repeat-x;
        background-position-x: 13px;
        top: -43px;
        z-index: 1;
        right: -91px;
      }

      img {
        position: relative;
        z-index: 12;
        height: 167px;
      }
    }
  }
  @media(min-width: 1200px) {
    padding-top: 26px;
    padding-bottom: 82px;
    .breadcrumbs {
      margin-bottom: 34px;
    }
    &:before {
      top: 121px;
      width: calc(50% - 310px);
    }
    .heading-1 {
      margin-bottom: 50px;

      &:after {
        margin-top: 16px;
      }
    }
    .common-text {
      width: 656px;
      font-size: 18px;
      line-height: 26px;
      margin-bottom: 30px;
    }
    &__promo {
      top: 170px;

      &:before {
        width: 459px;
        height: 208px;
        top: -69px;
        right: 108px;
      }

      img {

        height: 284px;
      }
    }
  }

  &__advantages {
    .item {
      display: flex;
      align-items: flex-start;
      margin-bottom: 20px;
      min-height: 40px;

      &:last-of-type {
        margin-bottom: 0;
      }

      .icon {
        width: 40px;
        height: 40px;
        margin-right: 10px;
      }

      .title {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 5px;
      }

      .common-text {
        margin-bottom: 0;
        padding-right: 3px;
      }
    }

    @media(min-width: 800px) {
      padding-top: 19px;
      position: relative;
      &:before {
        content: '';
        position: absolute;
        width: 427px;
        height: 128px;
        background: url(../assets/landing-promo-decor-2.svg);
        background-repeat: repeat-x;
        background-position-x: 13px;
        top: 5px;
        z-index: 1;
        right: -318px;
      }
      .item {
        margin-bottom: 25px;

        .common-text {
          width: 100%;
          font-size: 15px;
          line-height: 22px;
        }
      }
    }
    @media(min-width: 1200px) {
      padding-top: 10px;
      &:before {
        width: 297px;
        height: 274px;
        top: auto;
        bottom: -159px;
        right: -608px;
      }
      .item {
        .icon {
          min-width: 50px;
          height: 50px;
          margin-right: 20px;

          img {
            height: 100%;
            width: 100%;
          }
        }

        .title {
          margin-top: 5px;
          font-size: 20px;
          line-height: 26px;
          margin-bottom: 10px;
        }

        .common-text {
          font-size: 16px;
          line-height: 24px;
          padding-right: 20px;
        }
      }
    }
  }

  &__timeline {
    padding-top: 10px;
    padding-bottom: 20px;

    .buyout__title {
      letter-spacing: -.9px;
      margin-right: -20px;
      margin-bottom: 40px;
    }

    .step-item {
      @media(max-width: 799px) {
        &.js-animated:after {
          height: 119%;
        }
      }

      .image {
        margin-bottom: 20px;
      }

      .title {

        font-size: 18px;
        line-height: 24px;
        margin-bottom: 7px;
      }

      .text {
        letter-spacing: -.4px;
        margin-bottom: 17px;
      }

      .primary-text {
        font-size: 15px;
        line-height: 20px;
        color: #FF6F00;
        opacity: 0.9;
      }

      .simple-btn {
        margin-left: 0;
        width: 221px;
        white-space: nowrap;

        &.--black {
          width: 236px;
        }
      }

      &:last-of-type {
        margin-bottom: 0;
      }
    }

    @media(min-width: 800px) {
      padding-top: 30px;

      .buyout__title {
        margin-bottom: 45px;
      }
      .steps-row {
        &:before {
          top: 272px;
        }
      }
      .step-item {
        .image {
          margin-bottom: 50px;
        }

        .text {
          font-size: 15px;
          line-height: 22px;
          padding-right: 17px;
          margin-bottom: 19px;
        }

        .simple-btn, .simple-btn.--black {
          margin-left: -5px;
          width: 177px;
          display: flex;
          align-items: center;
          white-space: unset;
          line-height: 18px;
          text-align: left;

        }
      }
    }
    @media(min-width: 1200px) {
      padding-top: 37px;
      &:before {
        content: '';
        position: absolute;
        width: 305px;
        height: 168px;
        background: url(../assets/landing-promo-decor-2.svg);
        background-repeat: repeat-x;
        background-position-x: 13px;
        top: 1px;
        z-index: 1;
        right: 1px;
      }
      .buyout__title {
        margin-bottom: 80px;
      }
      .steps-row:before {
        top: 397px;
      }
      .step-item {
        .image {
          margin-bottom: 77px;
        }

        .title {
          font-size: 20px;
          line-height: 26px;
          margin-bottom: 10px;
        }

        .text {
          font-size: 16px;
          line-height: 24px;
          padding-right: 47px;
          letter-spacing: -.2px;
          margin-bottom: 30px;
        }

        .primary-text {
          letter-spacing: .3px;
          margin-bottom: 7px;
        }

        .simple-btn, .simple-btn.--black {
          width: auto;
        }
      }

    }
  }

  &__price {
    background: white;
    padding-top: 10px;
    padding-bottom: 40px;

    .buyout__title {
      margin-bottom: 30px;
    }

    .subheader {
      font-size: 18px;
      line-height: 24px;
      letter-spacing: -.6px;
      margin-bottom: 20px;
    }

    .pricing__list {
      display: block;

      &__title {
        font-weight: 600;
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 24px;
        letter-spacing: -0.6px;
      }

      &__item {
        display: flex;
        align-items: flex-end;
        font-size: 15px;
        line-height: 22px;
        margin-bottom: 15px;
        position: relative;
        color: $gray;

        .name {
          position: relative;
          z-index: 3;
          max-width: 244px;
          padding-right: 4px;
          display: contents;
        }

        .val {
          text-align: right;
          margin-left: auto;
          padding-left: 4px;
          white-space: nowrap;
        }

        .name, .val {
          position: relative;
          z-index: 3;
          background: white;
        }

        .dots {
          position: absolute;
          width: calc(100% - 10px);
          bottom: 5px;
          left: 5px;
          flex-grow: 1;
          border-bottom: 1px dashed rgba(95, 95, 95, 0.2);
        }
      }

    }

    .buyout__deposit__subinfo {
      margin-top: 25px;

      .title {
        font-size: 16px;
        line-height: 24px;
      }

      .list li {
        padding-right: 30px;
      }
    }

    @media(min-width: 800px) {
      padding-top: 51px;
      padding-bottom: 60px;
      .container {
        position: relative;

        &:after {
          content: '';
          position: absolute;
          width: 133px;
          height: 102px;
          background: url(../assets/landing-promo-decor-2.svg);
          background-repeat: repeat-x;
          background-position-x: 13px;
          top: 19px;
          z-index: 1;
          right: -15px;
        }
      }

      .buyout__title {
        margin-bottom: 35px;
      }
      .subheader {
        margin-bottom: 30px;
      }

      .buyout__deposit__subinfo {
        .title {
          margin-bottom: 20px;
        }

        .list li {
          padding-right: 19px;
        }
      }
    }
    @media(min-width: 1200px) {
      padding-top: 60px;
      padding-bottom: 150px;
      .buyout__title {
        margin-bottom: 45px;
      }
      .subheader {
        font-size: 20px;
        line-height: 26px;
      }
      .pricing__list {
        padding-right: 30px;

        &__item {
          margin-bottom: 20px;

          .val {
            font-size: 16px;
            line-height: 22px;
          }
        }
      }
      .buyout__deposit__subinfo {
        position: relative;
        z-index: 2;
        margin-top: 110px;
        padding-top: 40px;
        padding-bottom: 21px;

        .title {
          letter-spacing: -.5px;
          margin-bottom: 30px;
        }

        .list li {
          padding-right: 0;
        }
      }
      .container:after {
        width: 461px;
        height: 362px;
        top: 35px;
        right: -70px;
        transform: rotate(90deg);
      }

    }
  }
}