.news {
  padding-top: 13px;
  padding-bottom: 48px;
  background: white;
  overflow: hidden;

  .breadcrumbs {
    margin-bottom: 15px;
  }

  .heading-1 {
    margin-bottom: 30px;
  }

  @media(min-width: 800px) {
    padding-top: 15px;
    padding-bottom: 61px;
    position: relative;
    .heading-1 {
      margin-bottom: 40px;
    }
    .breadcrumbs {
      margin-bottom: 13px;
    }
  }
  @media(min-width: 1200px) {
    padding-top: 26px;
    padding-bottom: 150px;
    position: relative;
    .breadcrumbs {
      margin-bottom: 34px;
    }
    .heading-1 {
      margin-bottom: 50px;

      &:after {
        margin-top: 16px;
      }
    }
  }

  &__tabs {
    display: flex;
    align-items: flex-start;
    margin-bottom: 30px;

    .tab {
      display: block;
      border-radius: 4px;
      padding: 0 25px;
      font-weight: bold;
      font-size: 13px;
      line-height: 45px;
      color: $gray;
      text-transform: uppercase;
      background: transparent;
      transition: all .2s;

      &.active {
        background: #F4F8FA;
      }

      &:hover {
        text-decoration: none;
        color: darken($gray, 50%);
      }

      @media(min-width: 1200px) {
        padding: 0 35px;
        font-size: 13px;
        line-height: 55px;
      }
    }

    @media(min-width: 1200px) {
      margin-bottom: 40px;
    }
  }

  &__row {
    @media(min-width: 800px) {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -1px;
    }
    @media(min-width: 1200px) {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -1px;
    }

  }

  &__tile {
    margin-bottom: 30px;

    .album {

      width: 320px;
      height: 168px;
      overflow: hidden;
      margin-bottom: 5px;
      background: $secondary;

      img {
        max-width: 100%;
        width: 100%;
      }
    }

    .date {
      font-size: 13px;
      line-height: 25px;
      color: #5F5F5F;
      opacity: 0.6;
      margin-bottom: 5px;
    }

    .title {
      font-size: 16px;
      line-height: 20px;
      margin-bottom: 5px;
    }

    .text {
      font-size: 16px;
      line-height: 22px;
      color: #5F5F5F;
      max-height: 66px;
      overflow: hidden;
      text-overflow: ellipsis;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
    }

    @media(min-width: 800px) {
      width: calc(33.3% - 2px);
      margin: 0 1px 30px;
      .album {
        width: 100%;
        height: 126.58px;
      }
      .text {
        font-size: 15px;
        line-height: 20px;
        max-height: 60px;
        padding-right: 30px;
      }
    }
    @media(min-width: 1200px) {
      margin-bottom: 40px;
      .album {
        width: 380px;
        height: 200px;
        margin-bottom: 10px;
      }
      .title {
        font-size: 20px;
        line-height: 28px;
        margin-bottom: 10px;
        padding-right: 40px;
      }
      .text {
        padding-right: 40px;
        line-height: 22px;
        max-height: 66px;
      }
    }
  }

  .load-more {
    cursor: pointer;
    margin-top: 25px;
    margin-bottom: 33px;
    width: 100%;
    padding: 0;
    border: 1px solid rgba(95, 95, 95, 0.2);
    background: white;
    box-sizing: border-box;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    line-height: 53px;
    color: #5F5F5F;
    transition: all .2s;

    &:hover {
      background: $secondary;
    }

    .icon {
      margin-right: 12px;
      margin-left: -12px;
    }

    @media(min-width: 800px) {
      margin-top: 26px;
      margin-bottom: 29px;
    }
    @media (min-width: 1200px) {
      margin-top: 1px;
      margin-bottom: 70px;
    }
  }

  .pagination {
    margin: 0 -3px;
  }
}