.profile-messages {
  padding-top: 13px;
  padding-bottom: 37px;
  background: white;
  overflow: hidden;

  .breadcrumbs {
    margin-bottom: 15px;
  }

  .heading-1 {
    margin-bottom: 40px;

    &:after {
      margin-top: 17px;
    }

  }

  @media(min-width: 800px) {
    padding-top: 15px;
    padding-bottom: 60px;
    position: relative;
    .heading-1 {
      margin-bottom: 40px;
    }
    .breadcrumbs {
      margin-bottom: 13px;
    }

  }
  @media(min-width: 1200px) {
    padding-top: 26px;
    padding-bottom: 150px;
    .breadcrumbs {
      margin-bottom: 34px;
    }

    .heading-1 {
      margin-bottom: 60px;

      &:after {
        margin-top: 16px;
      }
    }
  }
}

.chat {
  border: 1px solid rgba(95, 95, 95, 0.2);
  margin: 0 -20px;
  width: calc(100% + 40px);
  @media(min-width: 800px) {
    margin: 0;
    width: 100%;
    display: flex;
    height: 510px;
  }
  @media(min-width: 1200px) {
    height: 700px;
  }

  &__nav {
    @media(min-width: 800px) {
    }
    @media(min-width: 800px) {
      border-right: 1px solid rgba(95, 95, 95, 0.2);
      min-width: 261px;
      width: 261px;
      display: flex;
      flex-direction: column;
    }
    @media(min-width: 1200px) {
      min-width: 391px;
      width: 391px;
    }

    &__menu {
      display: flex;
      justify-content: center;
      padding-top: 9px;
      border-bottom: 1px solid rgba(95, 95, 95, 0.2);

      .item {
        display: block;
        margin: 0 20px -1px;
        color: $gray;
        transition: all .2s;
        font-weight: bold;
        font-size: 14px;
        line-height: 30px;

        .text {
          display: none;
          color: $gray;
          font-weight: bold;
          font-size: 14px;
          line-height: 30px;
          transition: all .2s;
          text-transform: uppercase;
        }

        svg path {
          fill: $gray;
          transition: all .2s;
        }

        &.active, &:hover {
          .text {
            color: $primary;
          }

          svg path {
            fill: $primary;
          }
        }
      }

      @media(min-width: 800px) {
        .item {
          margin: 0 15px;
        }
      }
      @media(min-width: 1200px) {
        height: 69px;
        align-items: center;
        padding: 0;
        .item {
          padding: 0;
          margin: 0 20px;

          .icon {
            display: none;
          }

          .text {
            display: block;
          }
        }
      }
    }

    &__list {
      min-height: 330px;

      &__item {
        padding: 14px 17px;
        border-bottom: 1px solid rgba(95, 95, 95, 0.2);
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        height: 73px;

        &.active {
          background: #DFEAF0;
        }

        .message {
          font-size: 15px;
          line-height: 22px;
          color: $gray;
          width: 246px;

          strong {
            color: $black;
            letter-spacing: -1.2px;
            word-spacing: 3.2px;
            display: block;
          }

          a {
            color: $link;
            transition: all .2s;

            &:hover {
              text-decoration: none;
              color: $primary;
            }
          }
        }

        .right {
          display: flex;
          flex-wrap: wrap;
          width: 75px;

          .date {
            width: 100%;
          }

          .notify-count {
            margin-left: auto;
          }
        }

        .date {
          text-align: right;
          font-size: 12px;
          height: 22px;
          width: 65px;
          opacity: 0.8;
          color: $gray;
          padding-top: 4px;
          margin-bottom: 1px;
        }

        .notify-count {
          display: inline-block;
          border-radius: 19px;
          font-weight: 600;
          font-size: 12px;
          line-height: 20px;
          color: white;
          background: $primary;
          padding: 0 6px;
          margin-left: auto;
          margin-right: 1px;
        }
      }

      @media(min-width: 800px) {
        min-height: unset;
        flex-grow: 1;
        width: 100%;
        overflow-y: scroll;
        &__item {
          padding: 14px 14px;

          .message {
            width: 156px;
            text-overflow: ellipsis;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
          }
        }
      }

      @media(min-width: 1200px) {
        &__item {
          padding: 14px 17px;

          .message {
            width: 278px;
          }
        }
      }
    }

    &__bottom {
      padding: 2px 14px;

      .arrow-btn {
        letter-spacing: -0.1px;
      }

      @media (min-width: 800px) {
        margin-top: auto;
        padding: 14px;
      }
      @media (min-width: 1200px) {
        padding: 18px;
      }
    }
  }

  &__view {
    display: none;
    @media(max-width: 799px) {
      &__empty {
        display: none;
      }
      &.--open {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        background: $secondary;
        z-index: 250;
        animation: slideFormRight .2s linear;
      }
      &.closing {
        animation: slideToRight .2s linear;
      }
      &__header {
        padding: 0 20px;
        background: white;
        position: absolute;
        width: 100%;
        height: 70px;
        left: 0;
        top: 0;
        z-index: 5;
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.05);
        display: flex;
        align-items: center;

        .chat__nav__list__item {
          padding-left: 20px;
          border: 0;
        }

        .title {

        }
      }
    }
    @media(min-width: 800px) {
      height: 100%;
      &.--open {
        display: block;
      }
      &__empty {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: darken($secondary, 30%);
        background: $secondary;
      }
      &__header {
        display: none;
      }
    }
  }

  &__window {
    padding: 0 18px 10px;
    margin-top: 70px;
    background: $secondary;
    height: calc(100vh - 140px);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    overflow-y: scroll;

    &::-webkit-scrollbar-track {

      background-color: transparent;
    }

    &::-webkit-scrollbar {
      width: 3px;
      background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #D2D2D7;
      width: 3px
    }

    &__date {
      padding: 0 20px;
      margin: 5px 0 15px;
      width: 100%;
      text-align: center;
      color: $gray;
      font-size: 14px;
      line-height: 30px;
      height: 30px;
    }

    @media(min-width: 800px) {
      margin-top: 0;
      height: calc(100% - 70px);
      flex-grow: 1;
      padding-top: 9px;
    }
    @media(min-width: 1200px) {
      padding: 9px 28px 0 32px;
      &__date {
        margin-bottom: 20px;
      }
    }
  }

  &__message {
    max-width: 310px;
    width: auto;
    margin-bottom: 15px;
    display: inline-block;

    &--block {
      display: flex;
      width: 100%;
    }

    .pop {
      font-size: 15px;
      line-height: 22px;
      border-radius: 10px;
      padding: 15px 20px;
      margin-bottom: 5px;
      position: relative;
    }

    .title {
      margin-bottom: 5px;
      font-size: 15px;
      line-height: 22px;

      strong {
        color: black;
        letter-spacing: -1px;
        word-spacing: 3px;
        margin-right: 5px;
      }
    }

    .time {
      color: $gray;
      font-size: 12px;
      line-height: 16px;
      opacity: 0.6;
    }

    &.from {

      .pop {
        background: white;
        border-bottom-left-radius: 0;

        &:after {
          content: '';
          position: absolute;
          width: 10px;
          height: 10px;
          bottom: 0;
          left: -10px;
          background: url("../assets/icons/chat/from-message-tail.svg");
        }
      }

      .time {
        text-align: left;
      }
    }

    &.to {
      margin-left: auto;

      .pop {
        background: #DFEAF0;
        border-bottom-right-radius: 0;

        &:after {
          content: '';
          position: absolute;
          width: 10px;
          height: 10px;
          bottom: 0;
          right: -10px;
          background: url("../assets/icons/chat/to-message-tail.svg");
        }
      }

      .time {
        text-align: right;
      }
    }

    @media(min-width: 800px) {
      max-width: 408px;
    }
    @media(min-width: 1200px) {
      max-width: 408px;

    }
  }

  &__input-field {
    background: #DFEAF0;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 10px 20px;

    a.icon {
      opacity: .5;
      transition: all .2s;
      margin-top: 12px;

      &:hover {
        text-decoration: none;
        opacity: 1;
      }
    }

    textarea {
      min-height: 50px;
      background: #FFFFFF;
      border: 1px solid rgba(95, 95, 95, 0.2);
      box-sizing: border-box;
      border-radius: 4px;
      flex-grow: 1;
      margin: 0 20px;

      font-size: 15px;
      line-height: 22px;
      color: $gray;
      padding: 13px 19px 5px;
      resize: none;

      &:focus {
        outline: none;
      }
    }
  }
}

@keyframes slideFormRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideToRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}