.profile-page {
  padding-top: 13px;
  padding-bottom: 34px;
  background: white;
  overflow: hidden;


  .breadcrumbs {
    margin-bottom: 15px;
  }

  .heading-1 {
    margin-bottom: 30px;
  }

  .common-text {
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 30px;
  }

  @media(min-width: 800px) {
    padding-top: 15px;
    padding-bottom: 61px;
    position: relative;
    .common-text {
      letter-spacing: -0.1px;
    }
    .breadcrumbs {
      margin-bottom: 13px;
    }
  }
  @media(min-width: 1200px) {
    padding-top: 26px;
    padding-bottom: 132px;
    .breadcrumbs {
      margin-bottom: 34px;
    }

    .heading-1 {
      margin-bottom: 50px;

      &:after {
        margin-top: 16px;
      }
    }
    .common-text {
      width: 756px;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.1px;
      margin-bottom: 50px;
    }

  }

  &__tabs {
    display: flex;
    align-items: flex-start;
    margin-bottom: 30px;
    width: calc(100% + 15px);

    .tab {
      display: block;
      border-radius: 4px;
      padding: 0 25px;
      font-weight: bold;
      font-size: 13px;
      line-height: 45px;
      color: $gray;
      text-transform: uppercase;
      background: transparent;
      transition: all .2s;
      white-space: nowrap;

      &.active {
        background: #F4F8FA;
      }

      &:hover {
        text-decoration: none;
        color: darken($gray, 50%);
      }

      @media(min-width: 1200px) {
        padding: 0 35px;
        font-size: 13px;
        line-height: 55px;
      }
    }

    @media(min-width: 800px) {
      margin-bottom: 20px;
      .tab {
        letter-spacing: 0.4px;
      }
    }
    @media(min-width: 1200px) {
      margin-bottom: 40px;
    }
  }

  &__title {
    color: $black;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 33px;
    @media(min-width: 800px) {
      margin-bottom: 43px;
    }
    @media(min-width: 1200px) {
      font-size: 20px;
      line-height: 26px;
      margin-bottom: 43px;
    }
  }

  .personal-info {
    padding-top: 9px;
    padding-bottom: 40px;
    margin-bottom: 40px;
    border-bottom: 1px solid rgba(95, 95, 95, 0.2);

    .form-select-gender {
      display: flex;
      flex-wrap: wrap;
      margin-top: 12px;
      margin-bottom: 22px;

      .label {
        width: 100%;
        margin-bottom: 6px;
      }

      .radio {
        width: auto;
      }
    }

    .simple-btn {
      margin-left: -5px;
      letter-spacing: .3px;
    }

    @media(min-width: 800px) {
      .row {
        margin: 0 -15px;
      }
      .col-md-6 {
        padding: 0 15px;
      }
      .form-select-gender {
        display: flex;
        align-items: center;
        margin-top: 0;

        .label {
          width: auto;
          margin-top: -8px;
          margin-right: 25px;
          margin-bottom: 0;
        }
      }
    }
    @media(min-width: 1200px) {
      padding-bottom: 51px;
      margin-bottom: 50px;
    }
  }

  .password-block {
    .profile-page__title {
      margin-bottom: 20px;
    }

    .common-text {
      font-size: 16px;
      line-height: 24px;
      padding-right: 15px;
    }

    .simple-btn {
      margin-left: -5px;
      letter-spacing: .2px;
    }

    @media(min-width: 800px) {
      position: relative;
      .profile-page__title {
        margin-bottom: 42px;
      }
      .common-text {
        top: 1px;
        width: 40%;
        position: absolute;
        right: 9px;
      }
      .form-input {
        width: calc(50% - 15px);
      }
      .simple-btn {
        margin-top: 8px;
      }
    }
    @media(min-width: 1200px) {
      .common-text {
        right: 13px;
        padding-right: 0;
      }
    }
  }

  .channels {
    margin-top: 9px;
    margin-bottom: 30px;
    border: 5px solid #E9F1F5;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    padding: 25px 15px 11px;
    width: 100%;

    .profile-page__title {
      margin-bottom: 19px;
    }

    @media(min-width: 800px) {
      margin-top: 19px;
      margin-bottom: 38px;
      padding: 23px 0 23px 26px;
      display: flex;
      align-items: center;
      .profile-page__title {
        margin-bottom: 0;
        margin-right: 40px;
      }
      .form-toggle {
        margin-right: 41px;
        margin-bottom: 0;
      }
    }
    @media(min-width: 1200px) {
      margin-top: 8px;
    }
  }

  .events__row {
    padding-left: 11px;

    .profile-page__title {
      margin-bottom: 19px;
    }

    .form-checkbox {
      margin-bottom: 15px;
    }

    @media(min-width: 800px) {
      padding-left: 0;
      .form-checkbox {
        max-width: 328px;
      }
    }
    @media(min-width: 1200px) {
      .profile-page__title {
        margin-bottom: 27px;
      }
    }
  }
}