.profile-ads {
  padding-top: 13px;
  padding-bottom: 39px;
  background: white;
  overflow: hidden;

  .breadcrumbs {
    margin-bottom: 15px;
  }

  .heading-1 {
    margin-bottom: 30px;

    &:after {
      margin-top: 17px;
    }

  }

  .simple-btn {
    margin-left: -5px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;

    svg {
      margin-right: 12px;
      width: 20px;
      height: 20px;
      margin-left: -4px;

    }
  }

  @media(max-width: 799px) {
    .catalog__item:not(:last-of-type) {
      margin-bottom: -5px;
    }
  }
  @media(min-width: 800px) and (max-width: 1199px) {
    padding-top: 15px;
    padding-bottom: 61px;
    position: relative;
    .heading-1 {
      margin-bottom: 40px;
    }
    .breadcrumbs {
      margin-bottom: 13px;
    }

    .catalog__item {
      margin-bottom: 0;

      .preview {
        top: 15px;
      }

      .name {
        margin-top: 10px;
        margin-bottom: 22px;

        a {
          letter-spacing: -0.9px;
        }
      }

      .price {
        padding-top: 0;
        margin-top: -46px;
        margin-right: 0;
      }

      .description {
        display: flex;
        flex-direction: row;
        max-height: none;
        height: auto;

        .item {
          margin-right: 0;
          width: auto;
          min-width: auto;

          &:not(:last-of-type):after {
            content: ',';
            margin-right: 3px;
          }
        }
      }

      .run {
        margin-top: -8px;
      }

      .stats {
        margin-top: 8px;
      }

      .actions {
        width: 120px;
        display: block;
        text-align: right;
        margin: -81px -4px -7px auto;

        .label {
          line-height: 22px;
          margin-bottom: 13px;
          width: 100%;

          .date {
            display: block;
          }
        }

        .link {
          transform: none;
          margin-left: 12px;
          margin-right: 5px;
        }
      }
    }
  }
  @media(min-width: 1200px) {
    padding-top: 26px;
    padding-bottom: 149px;
    .breadcrumbs {
      margin-bottom: 34px;
    }

    .heading-1 {
      margin-bottom: 60px;

      &:after {
        margin-top: 16px;
      }
    }
    .simple-btn {
      margin-bottom: 50px;
    }
    .catalog__item {
      .stats {
        position: absolute;
        left: 268px;
        bottom: 35px;
      }

      .actions {
        display: block;
        text-align: right;
        width: auto;
        padding-bottom: 30px;
        margin: auto 10px 0 auto;

        .label {
          display: block;
          font-size: 15px;
          line-height: 24px;
          margin-bottom: 10px;
        }

        .link {
          margin-left: 10px;
          transform: none;

          svg {
            margin-right: 5px;
          }

          display: inline-flex;
          align-items: center;
        }
      }
    }
  }
}