.trade-in {
  padding-top: 13px;
  padding-bottom: 61px;
  background: white;
  overflow: hidden;

  .breadcrumbs {
    margin-bottom: 15px;
  }

  .heading-1 {
    margin-bottom: 30px;
  }

  .common-text {
    font-size: 15px;
    line-height: 22px;
    letter-spacing: -.1px;
    margin-bottom: 30px;
  }

  @media(min-width: 800px) {
    padding-top: 15px;
    padding-bottom: 80px;
    position: relative;
    &:before {
      content: '';
      position: absolute;
      z-index: 10;
      right: 0;
      top: 110px;
      border-top-left-radius: 25px;
      background: $secondary;
      height: 210px;
      width: calc(50% - 140px);
    }
    .common-text {
      padding-right: 80px;
      letter-spacing: -.1px;
    }
    .breadcrumbs {
      margin-bottom: 13px;
    }
  }
  @media(min-width: 1200px) {
    padding-top: 26px;
    padding-bottom: 121px;
    .breadcrumbs {
      margin-bottom: 34px;
    }
    &:before {
      top: 121px;
      height: 370px;
      width: calc(50% - 310px);
    }
    .heading-1 {
      margin-bottom: 50px;

      &:after {
        margin-top: 16px;
      }
    }
    .common-text {
      width: 656px;
      font-size: 18px;
      line-height: 26px;
      margin-bottom: 30px;
    }
  }

  &__promo {
    width: 100%;
    margin-bottom: 40px;

    img {
      max-width: 100%;
    }

    @media(min-width: 800px) {
      width: 98.7%;
      height: 295px;
      margin-top: 79px;
      margin-left: 5px;
      position: relative;
      z-index: 25;
      margin-bottom: -150px;
    }
    @media(min-width: 1200px) {
      margin-top: 67px;
      margin-left: 52px;
      img {
        width: 433px;
        height: auto;
      }
    }
  }

  &__advantages {
    .item {
      display: flex;
      align-items: flex-start;
      margin-bottom: 20px;
      min-height: 40px;

      .icon {

        margin-right: 10px;

        img {
          width: 40px;
          height: 40px;
        }
      }

      .title {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 5px;
      }

      .common-text {
        margin-bottom: 0;
        padding-right: 3px;
      }

      .text-partners {
        margin-top: 4px;
        opacity: .7;
        letter-spacing: -.4px;
        line-height: 22px;
      }

      + .simple-btn {
        margin-left: 45px
      }
    }

    @media(min-width: 800px) {
      padding-top: 10px;
      position: relative;
      &:before {
        content: '';
        position: absolute;
        width: 126px;
        height: 148px;
        background: url(../assets/landing-promo-decor-2.svg);
        background-repeat: repeat-x;
        background-position-x: 13px;
        top: 46px;
        z-index: 1;
        right: -328px;
      }
      .item {
        margin-bottom: 25px;

        .common-text {
          width: 100%;
          font-size: 15px;
          line-height: 22px;
        }

        .text-partners {
          margin-bottom: 5px;
        }
      }
    }
    @media(min-width: 1200px) {
      padding-top: 3px;
      &:before {
        width: 297px;
        height: 274px;
        top: 122px;
        bottom: auto;
        right: -616px;
      }
      .item {
        .icon {
          min-width: 50px;
          height: 50px;
          margin-right: 20px;

          img {
            height: 100%;
            width: 100%;
          }
        }

        .title {
          margin-top: 5px;
          font-size: 20px;
          line-height: 26px;
          margin-bottom: 10px;
        }

        .common-text {
          font-size: 16px;
          line-height: 24px;
          width: 448px;
        }

        .text-partners {
          width: 448px;
          margin-top: 10px;
        }

        + .simple-btn {
          margin-left: 66px;
          letter-spacing: .2px;
        }
      }
    }
  }

  &__offers {
    position: relative;
    padding-bottom: 50px;

    &:before {
      content: '';
      position: absolute;
      letter-spacing: 0;
      top: 0;
      width: 100%;
      height: 270px;
      background: $secondary;
    }

    &__title {
      font-weight: 800;
      font-size: 24px;
      line-height: 28px;
      margin-bottom: 33px;
      letter-spacing: -0.7px;

      .skew {
        position: relative;
        font-family: 'Magistral', sans-serif;
        font-style: italic;
        font-weight: bold;
        font-size: 22px;
        line-height: 30px;
        color: white;
        padding: 0 7px 0 10px;
        margin-left: 0;
        margin-right: 7px;
        display: inline-block;
        top: -2px;

        .num {
          position: relative;
          z-index: 2;
          top: 2px;
        }

        &:before {
          position: absolute;
          content: '';
          width: 100%;
          height: 100%;
          z-index: 1;
          border-radius: 4px;
          left: 2px;
          transform: skew(-12deg, 0deg);
          background: $primary;
        }
      }
    }

    .specs-slider {
      margin-bottom: 25px;
    }

    @media(min-width: 800px) {
      padding-top: 42px;
      padding-bottom: 54px;
      &:before {
        height: 237px;
      }
      &__title {
        padding-top: 10px;
        font-size: 26px;
        line-height: 30px;
        margin-bottom: 31px;

        br:first-of-type {
          display: none;
        }

        .skew {
          font-size: 25px;
          line-height: 34px;
          margin: 0 5px;

          &:before {
            top: -3px;
          }

          .num {
            top: -1px;
          }
        }
      }
    }
    @media(min-width: 1200px) {
      padding-top: 62px;
      padding-bottom: 119px;
      &:before {
        height: 230px;
      }
      &__title {
        margin-bottom: 37px;

        br {
          display: none;
        }
      }
    }
  }

  &__map {
    position: relative;
    padding-top: 50px;
    padding-bottom: 40px;
    background: white;

    &:before {
      content: '';
      position: absolute;
      letter-spacing: 0;
      top: 0;
      width: 100%;
      height: 270px;
      background: $secondary;
      border-top-right-radius: 25px;
    }

    .buyout__title {
      margin-bottom: 33px;
    }

    .map {
      width: 100%;
      height: 200px;
      transition: all .2s;
      position: relative;
      z-index: 10;

      iframe {
        width: 100%;
        height: 100%;
      }

      &.--open {
        height: 410px;
      }
    }

    .control {
      display: block;
      margin: 0 auto;
      background: white;
      margin-top: -43px;
      width: 203px;
      padding: 10px;
      text-align: center;
      position: relative;
      z-index: 20;

      .link {
        font-size: 15px;
        line-height: 24px;
        position: relative;
        margin-left: -6px;

        span {
          border-bottom: 1px dashed $link;
        }

        svg {
          position: relative;
          margin-left: 2px;
          top: 2px;

        }

        &:hover {
          color: $primary;

          span {
            border-color: $primary;
          }

          svg path {
            fill: $primary
          }
        }

        &[aria-expanded=true] {
          .show-text {
            display: none;
          }

          .hide-text {
            display: inline;
          }
        }

        &[aria-expanded=false] {
          .show-text {
            display: inline;
          }

          .hide-text {
            display: none;
          }

          svg {
            transform: scale(1, -1);
          }
        }
      }
    }

    @media(min-width: 800px) {
      padding-top: 60px;
      padding-bottom: 50px;
      &:before {

        height: 282px;
        width: calc(50% + 174px);
      }
      .container {
        position: relative;

        &:after {
          content: '';
          position: absolute;
          width: 312px;
          height: 188px;
          background: url(../assets/landing-promo-decor-2.svg);
          background-repeat: repeat-x;
          background-position-x: 13px;
          top: 50px;
          z-index: 1;
          right: -61px;
          transform: rotate(90deg);
        }
      }
      .buyout__title {
        margin-bottom: 31px;
      }
    }
    @media(min-width: 1200px) {
      padding-top: 80px;
      padding-bottom: 49px;
      &:before {
        width: calc(50% + 83px);
        height: 339px;
      }
      .container:after {
        width: 395.56px;
        height: 310px;
        background-repeat: repeat;
        top: -29px;
        right: -104px;
        transform: none;
      }
      .buyout__title {
        margin-bottom: 50px;
      }
    }
  }

  &__models {
    overflow: hidden;
    background: white;
    padding-bottom: 40px;

    .owl-stage-outer {
      overflow: visible;
    }

    .title {
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 22px;
    }

    &__row {
      padding-top: 5px;

      &:first-of-type {
        border-top: 1px solid rgba(95, 95, 95, 0.2);
      }

      border-bottom: 1px solid rgba(95, 95, 95, 0.2);

      .info {
        display: flex;
        align-items: flex-start;

        .image {
          width: 60px;
          height: 60px;
          margin-right: 20px;
          margin-bottom: 15px;

          img {
            width: 100%;
          }
        }

        .contacts-block {
          padding-top: 10px;
          margin-bottom: 18px;
        }

        .text {
          color: $gray;
          font-size: 15px;
          line-height: 22px;
        }
      }

      .slider {
        padding-bottom: 21px;

        .item {
          //min-height: 194px;
          margin-bottom: 18px;

          .image {
            margin-bottom: 15px;
            max-height: 135px;
            width: 180px;

            img {
              max-width: 100%;
            }
          }

          .name {
            font-size: 16px;
            line-height: 22px;
            color: $black;
          }

          &.special-offer {
            position: relative;
            margin-bottom: 8px;

            .special-offer__label {
              position: absolute;
              top: 64px;
              left: -50px;
              padding: 0 6px;
              font-size: 10px;
              line-height: 22px;
              letter-spacing: 0.01em;
              text-transform: uppercase;
              color: white;
              background: #FF6F00;
              border-radius: 0px 0px 4px 0px;
              transform: rotate(-90deg);
            }

            .special-offer__text {
              color: $primary;
              font-size: 14px;
              line-height: 22px;
            }
          }
        }
      }
    }

    @media(min-width: 800px) {
      padding-bottom: 57px;
      &__row {
        .info {
          .text {
            br {
              display: none;
            }
          }
        }
      }
    }

    @media(min-width: 1200px) {
      padding-bottom: 142px;
      .title {
        font-size: 20px;
        line-height: 26px;
        margin-bottom: 20px;
      }
      .owl-stage-outer {
        overflow: hidden;
      }
      .owl-nav {

        button.owl-next, button.owl-prev {
          width: 50px;
          height: 50px;
          margin-top: -64px;
          z-index: 20;
          position: absolute;
          top: 50%;
          border-radius: 100%;
          background: white;
          box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.15);
          display: flex;
          align-items: center;
          justify-content: center;
          transition: all .2s;

          svg path {
            transition: all .2s;
          }

          &:hover {
            background: $primary;

            svg path {
              fill: white
            }
          }

          &.disabled {
            opacity: 0;
            background: lighten($gray, 40);

            &:hover {
              svg path {
                fill: $gray;
              }
            }
          }
        }

        .owl-prev {
          left: -24px;
        }

        .owl-next {
          right: -24px;
        }
      }
      &__row {
        display: flex;
        align-items: flex-start;
        padding-top: 29px;
        margin-bottom: 6px;

        .info {
          flex-wrap: wrap;
          width: 190px;
          margin-right: 40px;

          .image {
            width: 100px;
            height: 100px;
            margin-bottom: 10px;

            img {
              width: 100%;
            }
          }

          .contacts-block {
            padding-top: 0;

            .text br {
              display: block;
            }
          }
        }

        .slider {
          width: 914px;

          .item {
            .image {
              width: 227px;
              max-height: 170px;
            }

            &.special-offer {
              .special-offer__label {
                top: 100px;
              }

              .special-offer__text {
                margin-bottom: -10px;
              }
            }
          }
        }
      }
    }
  }

}